flows_meepi.json
[{"id":"208548bd.e6d988","type":"tab","label":"Comunicação","disabled":false,"info":""},{"id":"4b6db33d.d6de9c","type":"tab","label":"Cadastros Usuários/Tutor","disabled":false,"info":""},{"id":"1b1ce8e2.cd3017","type":"tab","label":"Cadastro Medicamentos","disabled":false,"info":""},{"id":"2f0296ff.b8c79a","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"9401f173.6ec6f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bfbf2f6b.9e0a5","type":"gauth","z":""},{"id":"540bfacb.2770e4","type":"ui_tab","z":"","name":"Cadastro","icon":"dashboard","disabled":false,"hidden":false},{"id":"5bad52c2.6e2acc","type":"ui_group","z":"","name":"Teste","tab":"540bfacb.2770e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"699f4bc6.fcacd4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"9bb2c92a.01d238","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"https","database":"new_db","name":"","usetls":true,"tls":"5e573763.729b78"},{"id":"5e573763.729b78","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"b141da6d.d15518","type":"ui_group","z":"","name":"Saved Logs","tab":"","order":3,"disp":true,"width":"18","collapse":false},{"id":"9ad08bd8.2e5228","type":"sqlitedb","z":0,"db":"/home/pi/sqlite/nodered"},{"id":"1d20f7c8.b73a28","type":"telegram bot","z":"","botname":"Meepi","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"ee55ca91.0caf58","type":"telegrambot-config","z":"","botname":"Meepi","usernames":"","chatIds":"","pollInterval":"300"},{"id":"54264c95.7fa8d4","type":"ui_group","name":"Group 1","tab":"699f4bc6.fcacd4","order":1,"disp":true,"width":6},{"id":"43656111.320a8","type":"ui_group","z":"","name":"Menu","tab":"3c8bfe52.c0dfc2","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a0f7d86.99c204","type":"ui_group","z":"","name":"Group 2","tab":"3c8bfe52.c0dfc2","order":3,"disp":true,"width":"6","collapse":false},{"id":"81eaed31.800f1","type":"ui_group","z":"","name":"Group 1","tab":"3c8bfe52.c0dfc2","order":2,"disp":true,"width":"6","collapse":false},{"id":"959fac9d.5f044","type":"ui_group","z":"","name":"Group 3","tab":"3c8bfe52.c0dfc2","order":4,"disp":true,"width":"6","collapse":false},{"id":"3c8bfe52.c0dfc2","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"c6877de4.becba","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"1e029fb7.a2bfa","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"b2176c8c.cf8cc","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true},{"id":"5c33fe3.df5d4","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":""},{"id":"cfe1bae8.9e2668","type":"ui_group","name":"Gràfics","tab":"9679f92b.bf40d8","order":1,"disp":true,"width":12,"collapse":false},{"id":"9679f92b.bf40d8","type":"ui_tab","name":"Anàlisi Gràfic","icon":"dashboard","order":37,"disabled":false,"hidden":false},{"id":"a31f02d0.abe55","type":"ui_tab","name":"Cadastro Usuario","icon":"account_circle","order":2,"disabled":false,"hidden":false},{"id":"8a29159a.8e6588","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#9600cc","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#9600cc","edited":true},"page-titlebar-backgroundColor":{"value":"#9600cc","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#c21aff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#9600cc","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Meepi","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4f10d8cc.fea598","type":"ui_group","name":"CadastroUser","tab":"a31f02d0.abe55","order":1,"disp":false,"width":"8","collapse":false},{"id":"ba721efe.dcf02","type":"ui_group","name":"CadastroTutor","tab":"39f602a2.f47e0e","order":2,"disp":false,"width":"8","collapse":false},{"id":"e3277e2c.a85d8","type":"ui_tab","name":"Dashboard","icon":"fa-bar-chart","order":5,"disabled":false,"hidden":false},{"id":"46e64040.1f32b","type":"ui_group","name":"Informações Gerais","tab":"e3277e2c.a85d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f44ad2a3.2331b","type":"ui_tab","name":"Medicamentos","icon":"fa-medkit","order":4,"disabled":false,"hidden":false},{"id":"9cabde5c.717f7","type":"ui_group","name":"CadastroMed1","tab":"f44ad2a3.2331b","order":2,"disp":false,"width":"6","collapse":false},{"id":"39f602a2.f47e0e","type":"ui_tab","name":"Cadastro Tutor","icon":"fa-user-plus","order":3,"disabled":false,"hidden":false},{"id":"a3a8f60e.4747a8","type":"ui_group","name":"CadastroMed2","tab":"f44ad2a3.2331b","order":3,"disp":false,"width":"6","collapse":false},{"id":"c0c4f2d.99e0b1","type":"ui_group","name":"Selecione n.º de medicamentos","tab":"f44ad2a3.2331b","order":1,"disp":true,"width":"6","collapse":false},{"id":"49ce15cd.8c285c","type":"ui_group","name":"CadastroMed3","tab":"f44ad2a3.2331b","order":4,"disp":false,"width":"6","collapse":false},{"id":"ab7eb3dd.ce18e","type":"ui_group","name":"CadastroMed4","tab":"f44ad2a3.2331b","order":5,"disp":false,"width":"6","collapse":false},{"id":"74b0a92c.8c4be8","type":"ui_group","name":"CadastroMed5","tab":"f44ad2a3.2331b","order":6,"disp":false,"width":"6","collapse":false},{"id":"65ee5774.da5698","type":"ui_group","name":"CadastroMed6","tab":"f44ad2a3.2331b","order":7,"disp":false,"width":"6","collapse":false},{"id":"c12a1ba1.28b078","type":"ui_group","name":"CadastroMed7","tab":"f44ad2a3.2331b","order":8,"disp":false,"width":"6","collapse":false},{"id":"18f4f379.48e6fd","type":"ui_group","name":"Como usar o seu Meepi","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"90559693.85cfa8","type":"ui_group","name":"Medicação 1","tab":"e3277e2c.a85d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"7e158bed.eb3f54","type":"ui_group","name":"Medicação 2","tab":"e3277e2c.a85d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"21aa33a0.b3097c","type":"ui_group","name":"Medicação 3","tab":"e3277e2c.a85d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"c11bcb3d.879d68","type":"ui_group","name":"Medicação 4","tab":"e3277e2c.a85d8","order":5,"disp":true,"width":"6","collapse":false},{"id":"d69e066c.887f38","type":"ui_group","name":"Medicação 5","tab":"e3277e2c.a85d8","order":6,"disp":true,"width":"6","collapse":false},{"id":"f70dbdc1.19e9","type":"ui_group","name":"Medicação 6","tab":"e3277e2c.a85d8","order":7,"disp":true,"width":"6","collapse":false},{"id":"9a8a3f76.989e1","type":"ui_group","name":"Medicação 7","tab":"e3277e2c.a85d8","order":8,"disp":true,"width":"6","collapse":false},{"id":"5cb2c863.0e4598","type":"ui_spacer","name":"spacer","group":"46e64040.1f32b","order":4,"width":1,"height":1},{"id":"a7c1e2c4.4b2bd","type":"telegram bot","botname":"Meepi","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"1ad2df6.bb48521","type":"ui_form","z":"4b6db33d.d6de9c","name":"","label":"Cadastro Tutor","group":"ba721efe.dcf02","order":2,"width":0,"height":0,"options":[{"label":"Primeiro nome do responsável","value":"tutorName","type":"text","required":true,"rows":null},{"label":"Celular (com DDD)","value":"tutorCell","type":"text","required":true,"rows":null},{"label":"E-mail ","value":"tutorMail","type":"text","required":true,"rows":null},{"label":"Notificações via Telegram para o responsável?","value":"tutorTelegramOp","type":"switch","required":false,"rows":null}],"formValue":{"tutorName":"","tutorCell":"","tutorMail":"","tutorTelegramOp":false},"payload":"","submit":"Enviar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","x":200,"y":360,"wires":[["3d57bc4b.c3b374"]]},{"id":"7831f5bd.42a17c","type":"ui_form","z":"4b6db33d.d6de9c","name":"","label":"Cadastro Usuário","group":"4f10d8cc.fea598","order":2,"width":"0","height":"0","options":[{"label":"Primeiro Nome","value":"userName","type":"text","required":true,"rows":null},{"label":"Celular (com DDD)","value":"userCell","type":"number","required":true,"rows":null},{"label":"E-mail","value":"userMail","type":"email","required":true,"rows":null},{"label":"Notificações via Telegram?","value":"userTelegramOp","type":"switch","required":true,"rows":null},{"label":"Deseja colocar responsável?","value":"userTutorOp","type":"checkbox","required":false,"rows":null}],"formValue":{"userName":"","userCell":"","userMail":"","userTelegramOp":false,"userTutorOp":false},"payload":"","submit":"Enviar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","x":210,"y":220,"wires":[["3df7610a.2c77fe","371df53a.edac3a"]]},{"id":"fdbeef08.46583","type":"ui_ui_control","z":"4b6db33d.d6de9c","name":"","events":"all","x":380,"y":100,"wires":[["c248748f.cc1108"]]},{"id":"c248748f.cc1108","type":"debug","z":"4b6db33d.d6de9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":100,"wires":[]},{"id":"7b0a7e8a.7eeb","type":"debug","z":"4b6db33d.d6de9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":220,"wires":[]},{"id":"3df7610a.2c77fe","type":"function","z":"4b6db33d.d6de9c","name":"Tabs User and Tutor Control","func":"FULLmsg = msg.payload;\nif (FULLmsg.userTutorOp == false){\n    msg.payload = {\"tabs\":{\"hide\":[\"Cadastro_Tutor\"]}}\n    return msg;\n}else{\n    msg.payload = {\"tabs\":{\"show\":[\"Cadastro_Tutor\"]}}\n    return msg;\n}\n\n    \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":220,"wires":[["fdbeef08.46583","7b0a7e8a.7eeb"]]},{"id":"68088d5.82b8374","type":"inject","z":"4b6db33d.d6de9c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"tabs\":{\"hide\":[\"Cadastro_Tutor\"],\"show\":[\"Cadastro_Usuario\"]}}","payloadType":"json","x":170,"y":100,"wires":[["fdbeef08.46583"]]},{"id":"93d8e26c.9a58b","type":"ui_ui_control","z":"1b1ce8e2.cd3017","name":"","events":"all","x":380,"y":160,"wires":[["80738337.48c3b","bd5179e5.2a2258","b9afab97.a56fd8","ed961bd2.e401c8","85c505a4.737a78","2fcac090.040b2","6a878037.18bd7"]]},{"id":"f73774c4.e77268","type":"function","z":"1b1ce8e2.cd3017","name":"","func":"qtd = msg.payload;\n\nif (qtd==0){\n    msg.payload = {\"group\": {\"hide\": [\"Medicamentos_CadastroMed1\",\"Medicamentos_CadastroMed2\",\"Medicamentos_CadastroMed3\",\"Medicamentos_CadastroMed4\", \"Medicamentos_CadastroMed5\",\"Medicamentos_CadastroMed6\", \"Medicamentos_CadastroMed7\"]}}\n    return msg;\n}else if (qtd == 1){\n    msg.payload = {\"group\": {\"hide\": [\"Medicamentos_CadastroMed2\",\"Medicamentos_CadastroMed3\",\"Medicamentos_CadastroMed4\", \"Medicamentos_CadastroMed5\",\"Medicamentos_CadastroMed6\", \"Medicamentos_CadastroMed7\"], \"show\": [\"Medicamentos_CadastroMed1\"]}}\n    return msg;\n}else if(qtd==2){\n    msg.payload = {\"group\": {\"hide\": [\"Medicamentos_CadastroMed3\",\"Medicamentos_CadastroMed4\", \"Medicamentos_CadastroMed5\",\"Medicamentos_CadastroMed6\", \"Medicamentos_CadastroMed7\"], \"show\": [\"Medicamentos_CadastroMed1\", \"Medicamentos_CadastroMed2\"]}}\n    return msg;\n}else if(qtd==3){\n    msg.payload = {\"group\": {\"hide\": [\"Medicamentos_CadastroMed4\", \"Medicamentos_CadastroMed5\",\"Medicamentos_CadastroMed6\", \"Medicamentos_CadastroMed7\"], \"show\": [\"Medicamentos_CadastroMed1\", \"Medicamentos_CadastroMed2\", \"Medicamentos_CadastroMed3\"]}}\n    return msg;\n}else if(qtd==4){\n    msg.payload = {\"group\": {\"hide\": [\"Medicamentos_CadastroMed5\",\"Medicamentos_CadastroMed6\", \"Medicamentos_CadastroMed7\"], \"show\": [\"Medicamentos_CadastroMed1\", \"Medicamentos_CadastroMed2\", \"Medicamentos_CadastroMed3\", \"Medicamentos_CadastroMed4\"]}}\n    return msg;\n}else if(qtd==5){\n    msg.payload = {\"group\": {\"hide\": [\"Medicamentos_CadastroMed6\", \"Medicamentos_CadastroMed7\"], \"show\": [\"Medicamentos_CadastroMed1\", \"Medicamentos_CadastroMed2\", \"Medicamentos_CadastroMed3\", \"Medicamentos_CadastroMed4\", \"Medicamentos_CadastroMed5\"]}}\n    return msg;\n}else if(qtd==6){\n    msg.payload = {\"group\": {\"hide\": [\"Medicamentos_CadastroMed7\"], \"show\": [\"Medicamentos_CadastroMed1\", \"Medicamentos_CadastroMed2\", \"Medicamentos_CadastroMed3\", \"Medicamentos_CadastroMed4\", \"Medicamentos_CadastroMed5\", \"Medicamentos_CadastroMed6\"]}}\n    return msg;\n}else if(qtd==7){\n    msg.payload = {\"group\": {\"show\": [\"Medicamentos_CadastroMed1\", \"Medicamentos_CadastroMed2\", \"Medicamentos_CadastroMed3\", \"Medicamentos_CadastroMed4\", \"Medicamentos_CadastroMed5\", \"Medicamentos_CadastroMed6\", \"Medicamentos_CadastroMed7\"]}}\n    return msg;\n}\n\n        \n      \n\n     \n\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":160,"wires":[["93d8e26c.9a58b"]]},{"id":"1b7aff00.0f3931","type":"inject","z":"1b1ce8e2.cd3017","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"group\": {\"hide\": [\"Medicamentos_CadastroMed2\", \"Medicamentos_CadastroMed1\"]}}","payloadType":"json","x":130,"y":40,"wires":[["6debd9.3fc19428","93d8e26c.9a58b"]]},{"id":"6debd9.3fc19428","type":"debug","z":"1b1ce8e2.cd3017","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":40,"wires":[]},{"id":"80738337.48c3b","type":"ui_form","z":"1b1ce8e2.cd3017","name":"","label":"Medicamento 2","group":"a3a8f60e.4747a8","order":1,"width":0,"height":0,"options":[{"label":"Nome do medicamento","value":"medName2","type":"text","required":false,"rows":null},{"label":"Data de início do tratamento","value":"medStartDate2","type":"date","required":false,"rows":null},{"label":"Hora de início do tratamento:","value":"medStartTime2","type":"time","required":false,"rows":null},{"label":"Frequência (em horas)","value":"medFreq2","type":"number","required":false,"rows":null},{"label":"Dosagem por horário","value":"dosMed2","type":"number","required":false,"rows":null},{"label":"Compartimento 1 do Meepi?","value":"medPlace2_1","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 2 do Meepi?","value":"medPlace2_2","type":"checkbox","required":true,"rows":null},{"label":"Compartimento 3 do Meepi?","value":"medPlace2_3","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 4 do Meepi?","value":"medPlace2_4","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 5 do Meepi?","value":"medPlace2_5","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 6 do Meepi?","value":"medPlace2_6","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 7 do Meepi?","value":"medPlace2_7","type":"checkbox","required":false,"rows":null}],"formValue":{"medName2":"","medStartDate2":"","medStartTime2":"","medFreq2":"","dosMed2":"","medPlace2_1":false,"medPlace2_2":false,"medPlace2_3":false,"medPlace2_4":false,"medPlace2_5":false,"medPlace2_6":false,"medPlace2_7":false},"payload":"","submit":"Enviar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","x":600,"y":320,"wires":[["9bde799.7d15d88","5e20f06a.56c57","10948f0c.9a0521"]]},{"id":"cf51649e.cf4748","type":"ui_dropdown","z":"1b1ce8e2.cd3017","name":"","label":"N.º","tooltip":"Selecione o número de medicamentos para cadastro","place":"Selecione","group":"c0c4f2d.99e0b1","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"0","value":"0","type":"str"},{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"},{"label":"3","value":"3","type":"str"},{"label":"4","value":"4","type":"str"},{"label":"5","value":"5","type":"str"},{"label":"6","value":"6","type":"str"},{"label":"7","value":"7","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":70,"y":160,"wires":[["f73774c4.e77268"]]},{"id":"bd5179e5.2a2258","type":"ui_form","z":"1b1ce8e2.cd3017","name":"","label":"Medicamento 3","group":"49ce15cd.8c285c","order":1,"width":0,"height":0,"options":[{"label":"Nome do medicamento","value":"medName3","type":"text","required":false,"rows":null},{"label":"Data de início do tratamento","value":"medStartDate3","type":"date","required":false,"rows":null},{"label":"Hora de início do tratamento","value":"medStartTime3","type":"time","required":false,"rows":null},{"label":"Frequência (em horas)","value":"medFreq3","type":"number","required":false,"rows":null},{"label":"Dosagem por horário","value":"dosMed3","type":"number","required":false,"rows":null},{"label":"Compartimento 1 do Meepi?","value":"medPlace3_1","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 2  do Meepi?","value":"medPlace3_2","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 3 do Meepi?","value":"medPlace3_3","type":"checkbox","required":true,"rows":null},{"label":"Compartimento 4 do Meepi?","value":"medPlace3_4","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 5 do Meepi?","value":"medPlace3_5","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 6 do Meepi?","value":"medPlace3_6","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 7 do Meepi?","value":"medPlace3_7","type":"checkbox","required":false,"rows":null}],"formValue":{"medName3":"","medStartDate3":"","medStartTime3":"","medFreq3":"","dosMed3":"","medPlace3_1":false,"medPlace3_2":false,"medPlace3_3":false,"medPlace3_4":false,"medPlace3_5":false,"medPlace3_6":false,"medPlace3_7":false},"payload":"","submit":"Enviar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","x":600,"y":480,"wires":[["8fb15fec.b07fe","c6da47dc.4f4928","85d31014.3300d"]]},{"id":"b9afab97.a56fd8","type":"ui_form","z":"1b1ce8e2.cd3017","name":"","label":"Medicamento 4","group":"ab7eb3dd.ce18e","order":1,"width":0,"height":0,"options":[{"label":"Nome do medicamento","value":"medName4","type":"text","required":false,"rows":null},{"label":"Data de início do tratamento ","value":"medStartDate4","type":"date","required":false,"rows":null},{"label":"Hora de início do tratamento","value":"medStartTime4","type":"time","required":false,"rows":null},{"label":"Frequência (em horas)","value":"medFreq4","type":"number","required":false,"rows":null},{"label":"Dosagem por horário","value":"dosMed4","type":"number","required":false,"rows":null},{"label":"Compartimento 1 do Meepi?","value":"medPlace4_1","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 2 do Meepi?","value":"medPlace4_2","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 3 do Meepi?","value":"medPlace4_3","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 4 do Meepi?","value":"medPlace4_4","type":"checkbox","required":true,"rows":null},{"label":"Compartimento 5 do Meepi?","value":"medPlace4_5","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 6 do Meepi?","value":"medPlace4_6","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 7 do Meepi?","value":"medPlace4_7","type":"checkbox","required":false,"rows":null}],"formValue":{"medName4":"","medStartDate4":"","medStartTime4":"","medFreq4":"","dosMed4":"","medPlace4_1":false,"medPlace4_2":false,"medPlace4_3":false,"medPlace4_4":false,"medPlace4_5":false,"medPlace4_6":false,"medPlace4_7":false},"payload":"","submit":"Enviar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","x":600,"y":620,"wires":[["5838b5bd.10651c","72c32fd5.00e52","9dc8b411.80fa58"]]},{"id":"ed961bd2.e401c8","type":"ui_form","z":"1b1ce8e2.cd3017","name":"","label":"Medicamento 5","group":"74b0a92c.8c4be8","order":1,"width":0,"height":0,"options":[{"label":"Nome do medicamento","value":"medName5","type":"text","required":false,"rows":null},{"label":"Data de início do tratamento","value":"medStartDate5","type":"date","required":false,"rows":null},{"label":"Hora de início do tratamento","value":"medStartTime5","type":"time","required":false,"rows":null},{"label":"Frequência (em horas)","value":"medFreq5","type":"number","required":false,"rows":null},{"label":"Dosagem por horário","value":"dosMed5","type":"number","required":false,"rows":null},{"label":"Compartimento 1?","value":"medPlace5_1","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 2?","value":"medPlace5_2","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 3 do Meepi?","value":"medPlace5_3","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 4 do Meepi?","value":"medPlace5_4","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 5 do Meepi?","value":"medPlace5_5","type":"checkbox","required":true,"rows":null},{"label":"Compartimento 6 do Meepi?","value":"medPlace5_6","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 7 do Meepi?","value":"medPlace5_7","type":"checkbox","required":false,"rows":null}],"formValue":{"medName5":"","medStartDate5":"","medStartTime5":"","medFreq5":"","dosMed5":"","medPlace5_1":false,"medPlace5_2":false,"medPlace5_3":false,"medPlace5_4":false,"medPlace5_5":false,"medPlace5_6":false,"medPlace5_7":false},"payload":"","submit":"Enviar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","x":600,"y":760,"wires":[["354da1c6.52f2de","861f9464.872d58","7167fcd3.8741f4"]]},{"id":"85c505a4.737a78","type":"ui_form","z":"1b1ce8e2.cd3017","name":"","label":"Medicamento 6","group":"65ee5774.da5698","order":1,"width":0,"height":0,"options":[{"label":"Nome do medicamento","value":"medName6","type":"text","required":false,"rows":null},{"label":"Data de início do tratamento","value":"medStartDate6","type":"date","required":false,"rows":null},{"label":"Hora de início do tratamento:","value":"medStartTime6","type":"time","required":false,"rows":null},{"label":"Frequência (em horas)","value":"medFreq6","type":"number","required":false,"rows":null},{"label":"Dosagem por horário","value":"dosMed6","type":"number","required":false,"rows":null},{"label":"Compartimento 1 do Meepi?","value":"medPlace6_1","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 2 do Meepi?","value":"medPlace6_2","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 3 do Meepi?","value":"medPlace6_3","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 4 do Meepi?","value":"medPlace6_4","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 5 do Meepi?","value":"medPlace6_5","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 6 do Meepi?","value":"medPlace6_6","type":"checkbox","required":true,"rows":null},{"label":"Compartimento 7 do Meepi?","value":"medPlace6_7","type":"checkbox","required":false,"rows":null}],"formValue":{"medName6":"","medStartDate6":"","medStartTime6":"","medFreq6":"","dosMed6":"","medPlace6_1":false,"medPlace6_2":false,"medPlace6_3":false,"medPlace6_4":false,"medPlace6_5":false,"medPlace6_6":false,"medPlace6_7":false},"payload":"","submit":"Enviar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","x":600,"y":900,"wires":[["874e4bd4.ef83e8","96c2bec4.a63bb","d93fd66b.4891e8"]]},{"id":"2fcac090.040b2","type":"ui_form","z":"1b1ce8e2.cd3017","name":"","label":"Medicamento 7","group":"c12a1ba1.28b078","order":1,"width":0,"height":0,"options":[{"label":"Nome do medicamento","value":"medName7","type":"text","required":false,"rows":null},{"label":"Data de início do tratamento","value":"medStartDate7","type":"date","required":false,"rows":null},{"label":"Hora de início do tratamento","value":"medStartTime7","type":"time","required":false,"rows":null},{"label":"Frequência (em horas)","value":"medFreq7","type":"number","required":false,"rows":null},{"label":"Dosagem por horário","value":"dosMed7","type":"number","required":false,"rows":null},{"label":"Compartimento 1 do Meepi?","value":"medPlace7_1","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 2 do Meepi?","value":"medPlace7_2","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 3 do Meepi?","value":"medPlace7_3","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 4 do Meepi?","value":"medPlace7_4","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 5 do Meepi?","value":"medPlace7_5","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 6 do Meepi?","value":"medPlace7_6","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 7 do Meepi?","value":"medPlace7_7","type":"checkbox","required":true,"rows":null}],"formValue":{"medName7":"","medStartDate7":"","medStartTime7":"","medFreq7":"","dosMed7":"","medPlace7_1":false,"medPlace7_2":false,"medPlace7_3":false,"medPlace7_4":false,"medPlace7_5":false,"medPlace7_6":false,"medPlace7_7":false},"payload":"","submit":"Enviar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","x":600,"y":1040,"wires":[["7b0bf6c.5e67f08","48e9d6b1.20fed8","e6f9d09d.5c62a"]]},{"id":"371df53a.edac3a","type":"change","z":"4b6db33d.d6de9c","name":"[USER] Create global variables","rules":[{"t":"set","p":"userName","pt":"global","to":"payload.userName","tot":"msg"},{"t":"set","p":"userCell","pt":"global","to":"payload.userCell","tot":"msg"},{"t":"set","p":"userMail","pt":"global","to":"payload.userMail","tot":"msg"},{"t":"set","p":"userTelegramOp","pt":"global","to":"payload.userTelegramOp","tot":"msg"},{"t":"set","p":"userMailOp","pt":"global","to":"payload.userMailOp","tot":"msg"},{"t":"set","p":"userTutorOp","pt":"global","to":"payload.userTutorOp","tot":"msg"},{"t":"set","p":"fullUserinfo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":280,"wires":[["c8dd8d85.66a62"]]},{"id":"3d57bc4b.c3b374","type":"change","z":"4b6db33d.d6de9c","name":"[TUTOR] Create global variables","rules":[{"t":"set","p":"tutorName","pt":"global","to":"payload.tutorName","tot":"msg"},{"t":"set","p":"tutorCell","pt":"global","to":"payload.tutorCell","tot":"msg"},{"t":"set","p":"tutorMail","pt":"global","to":"payload.tutorMail","tot":"msg"},{"t":"set","p":"tutorTelegramOp","pt":"global","to":"payload.tutorTelegramOp","tot":"msg"},{"t":"set","p":"tutorMailOp","pt":"global","to":"payload.tutorMailOp","tot":"msg"},{"t":"set","p":"tutorTutorOp","pt":"global","to":"payload.tutorTutorOp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":360,"wires":[["b5d27080.faa5"]]},{"id":"c8dd8d85.66a62","type":"debug","z":"4b6db33d.d6de9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":280,"wires":[]},{"id":"b5d27080.faa5","type":"debug","z":"4b6db33d.d6de9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":360,"wires":[]},{"id":"702c9c1a.d692c4","type":"change","z":"1b1ce8e2.cd3017","name":"[MED1] Create global variables","rules":[{"t":"set","p":"medName1","pt":"global","to":"payload.medName1","tot":"msg"},{"t":"set","p":"medStartDate1","pt":"global","to":"payload.medStartDate1","tot":"msg"},{"t":"set","p":"medStartTime1","pt":"global","to":"payload.medStartTime1","tot":"msg"},{"t":"set","p":"medFreq1","pt":"global","to":"payload.medFreq1","tot":"msg"},{"t":"set","p":"medPlace1_1","pt":"global","to":"payload.medPlace1_1","tot":"msg"},{"t":"set","p":"medPlace1_2","pt":"global","to":"payload.medPlace1_2","tot":"msg"},{"t":"set","p":"medPlace1_3","pt":"global","to":"payload.medPlace1_3","tot":"msg"},{"t":"set","p":"medPlace1_4","pt":"global","to":"payload.medPlace1_4","tot":"msg"},{"t":"set","p":"medPlace1_5","pt":"global","to":"payload.medPlace1_5","tot":"msg"},{"t":"set","p":"medPlace1_6","pt":"global","to":"payload.medPlace1_6","tot":"msg"},{"t":"set","p":"medPlace1_7","pt":"global","to":"payload.medPlace1_7","tot":"msg"},{"t":"set","p":"dosMed1","pt":"global","to":"payload.dosMed1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":180,"wires":[["c12eea3e.4aaba8"]]},{"id":"9bde799.7d15d88","type":"change","z":"1b1ce8e2.cd3017","name":"[MED2] Create global variables","rules":[{"t":"set","p":"medName2","pt":"global","to":"payload.medName2","tot":"msg"},{"t":"set","p":"medStartTime2","pt":"global","to":"payload.medStartTime2","tot":"msg"},{"t":"set","p":"medStartDate2","pt":"global","to":"payload.medStartDate2","tot":"msg"},{"t":"set","p":"medFreq2","pt":"global","to":"payload.medFreq2","tot":"msg"},{"t":"set","p":"medPlace2_1","pt":"global","to":"payload.medPlace2_1","tot":"msg"},{"t":"set","p":"medPlace2_2","pt":"global","to":"payload.medPlace2_2","tot":"msg"},{"t":"set","p":"medPlace2_3","pt":"global","to":"payload.medPlace2_3","tot":"msg"},{"t":"set","p":"medPlace2_4","pt":"global","to":"payload.medPlace2_4","tot":"msg"},{"t":"set","p":"medPlace2_5","pt":"global","to":"payload.medPlace2_5","tot":"msg"},{"t":"set","p":"medPlace2_6","pt":"global","to":"payload.medPlace2_6","tot":"msg"},{"t":"set","p":"medPlace2_7","pt":"global","to":"payload.medPlace2_7","tot":"msg"},{"t":"set","p":"dosMed2","pt":"global","to":"payload.dosMed2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":320,"wires":[["3132748d.828fdc"]]},{"id":"8fb15fec.b07fe","type":"change","z":"1b1ce8e2.cd3017","name":"[MED3] Create global variables","rules":[{"t":"set","p":"medName3","pt":"global","to":"payload.medName3","tot":"msg"},{"t":"set","p":"medStartTime3","pt":"global","to":"payload.medStartTime3","tot":"msg"},{"t":"set","p":"medStartDate3","pt":"global","to":"payload.medStartDate3","tot":"msg"},{"t":"set","p":"medFreq3","pt":"global","to":"payload.medFreq3","tot":"msg"},{"t":"set","p":"medPlace3_1","pt":"global","to":"payload.medPlace3_1","tot":"msg"},{"t":"set","p":"medPlace3_2","pt":"global","to":"payload.medPlace3_2","tot":"msg"},{"t":"set","p":"medPlace3_3","pt":"global","to":"payload.medPlace3_3","tot":"msg"},{"t":"set","p":"medPlace3_4","pt":"global","to":"payload.medPlace3_4","tot":"msg"},{"t":"set","p":"medPlace3_5","pt":"global","to":"payload.medPlace3_5","tot":"msg"},{"t":"set","p":"medPlace3_6","pt":"global","to":"payload.medPlace3_6","tot":"msg"},{"t":"set","p":"medPlace3_7","pt":"global","to":"payload.medPlace3_7","tot":"msg"},{"t":"set","p":"dosMed3","pt":"global","to":"payload.dosMed3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":480,"wires":[["ab42a4ea.a3a5d8"]]},{"id":"5838b5bd.10651c","type":"change","z":"1b1ce8e2.cd3017","name":"[MED4] Create global variables","rules":[{"t":"set","p":"medName4","pt":"global","to":"payload.medName4","tot":"msg"},{"t":"set","p":"medStartTime4","pt":"global","to":"payload.medStartTime4","tot":"msg"},{"t":"set","p":"medStartDate4","pt":"global","to":"payload.medStartDate4","tot":"msg"},{"t":"set","p":"medFreq4","pt":"global","to":"payload.medFreq4","tot":"msg"},{"t":"set","p":"dosMed4","pt":"global","to":"payload.dosMed4","tot":"msg"},{"t":"set","p":"medPlace4_1","pt":"global","to":"payload.medPlace4_1","tot":"msg"},{"t":"set","p":"medPlace4_2","pt":"global","to":"payload.medPlace4_2","tot":"msg"},{"t":"set","p":"medPlace4_3","pt":"global","to":"payload.medPlace4_3","tot":"msg"},{"t":"set","p":"medPlace4_4","pt":"global","to":"payload.medPlace4_4","tot":"msg"},{"t":"set","p":"medPlace4_5","pt":"global","to":"payload.medPlace4_5","tot":"msg"},{"t":"set","p":"medPlace4_6","pt":"global","to":"payload.medPlace4_6","tot":"msg"},{"t":"set","p":"medPlace4_7","pt":"global","to":"payload.medPlace4_7","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":620,"wires":[["4f800199.43ec8"]]},{"id":"354da1c6.52f2de","type":"change","z":"1b1ce8e2.cd3017","name":"[MED5] Create global variables","rules":[{"t":"set","p":"medName5","pt":"global","to":"payload.medName5","tot":"msg"},{"t":"set","p":"medStartTime5","pt":"global","to":"payload.medStartTime5","tot":"msg"},{"t":"set","p":"medStartDate5","pt":"global","to":"payload.medStartDate5","tot":"msg"},{"t":"set","p":"medFreq5","pt":"global","to":"payload.medFreq5","tot":"msg"},{"t":"set","p":"dosMed5","pt":"global","to":"payload.dosMed5","tot":"msg"},{"t":"set","p":"medPlace5_1","pt":"global","to":"payload.medPlace5_1","tot":"msg"},{"t":"set","p":"medPlace5_2","pt":"global","to":"payload.medPlace5_2","tot":"msg"},{"t":"set","p":"medPlace5_3","pt":"global","to":"payload.medPlace5_3","tot":"msg"},{"t":"set","p":"medPlace5_4","pt":"global","to":"payload.medPlace5_4","tot":"msg"},{"t":"set","p":"medPlace5_5","pt":"global","to":"payload.medPlace5_5","tot":"msg"},{"t":"set","p":"medPlace5_6","pt":"global","to":"payload.medPlace5_6","tot":"msg"},{"t":"set","p":"medPlace5_7","pt":"global","to":"payload.medPlace5_7","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":760,"wires":[["80cee24.f930a2"]]},{"id":"874e4bd4.ef83e8","type":"change","z":"1b1ce8e2.cd3017","name":"[MED6] Create global variables","rules":[{"t":"set","p":"medName6","pt":"global","to":"payload.medName6","tot":"msg"},{"t":"set","p":"medStartTime6","pt":"global","to":"payload.medStartTime6","tot":"msg"},{"t":"set","p":"medStartDate6","pt":"global","to":"payload.medStartDate6","tot":"msg"},{"t":"set","p":"medFreq6","pt":"global","to":"payload.medFreq6","tot":"msg"},{"t":"set","p":"medPlace6_1","pt":"global","to":"payload.medPlace6_1","tot":"msg"},{"t":"set","p":"medPlace6_2","pt":"global","to":"payload.medPlace6_2","tot":"msg"},{"t":"set","p":"medPlace6_3","pt":"global","to":"payload.medPlace6_3","tot":"msg"},{"t":"set","p":"medPlace6_4","pt":"global","to":"payload.medPlace6_4","tot":"msg"},{"t":"set","p":"medPlace6_5","pt":"global","to":"payload.medPlace6_5","tot":"msg"},{"t":"set","p":"medPlace6_6","pt":"global","to":"payload.medPlace6_6","tot":"msg"},{"t":"set","p":"medPlace6_7","pt":"global","to":"payload.medPlace6_7","tot":"msg"},{"t":"set","p":"dosMed6","pt":"global","to":"payload.dosMed6","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":900,"wires":[["328daf99.32c93"]]},{"id":"7b0bf6c.5e67f08","type":"change","z":"1b1ce8e2.cd3017","name":"[MED7] Create global variables","rules":[{"t":"set","p":"medName7","pt":"global","to":"payload.medName7","tot":"msg"},{"t":"set","p":"medStartTime7","pt":"global","to":"payload.medStartTime7","tot":"msg"},{"t":"set","p":"medStartDate7","pt":"global","to":"payload.medStartDate7","tot":"msg"},{"t":"set","p":"medFreq7","pt":"global","to":"payload.medFreq7","tot":"msg"},{"t":"set","p":"medPlace7_1","pt":"global","to":"payload.medPlace7_1","tot":"msg"},{"t":"set","p":"medPlace7_2","pt":"global","to":"payload.medPlace7_2","tot":"msg"},{"t":"set","p":"medPlace7_3","pt":"global","to":"payload.medPlace7_3","tot":"msg"},{"t":"set","p":"medPlace7_4","pt":"global","to":"payload.medPlace7_4","tot":"msg"},{"t":"set","p":"medPlace7_5","pt":"global","to":"payload.medPlace7_5","tot":"msg"},{"t":"set","p":"medPlace7_6","pt":"global","to":"payload.medPlace7_6","tot":"msg"},{"t":"set","p":"medPlace7_7","pt":"global","to":"payload.medPlace7_7","tot":"msg"},{"t":"set","p":"dosMed7","pt":"global","to":"payload.dosMed7","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":1040,"wires":[["6325bf0.6edb34"]]},{"id":"82287606.2b5d08","type":"mqtt in","z":"208548bd.e6d988","name":"","topic":"iot-2/type/ESP32/id/meepi001/evt/getinfos/fmt/json","qos":"2","datatype":"auto","broker":"","x":230,"y":140,"wires":[["4f66ffe3.a2b79","283ab71a.ca75b8","be7502eb.679ca"]]},{"id":"2b04ab5e.0d3d04","type":"mqtt out","z":"208548bd.e6d988","name":"","topic":"iot-2/type/ESP32/id/meepi001/evt/medinfo/fmt/json","qos":"2","retain":"","broker":"","x":770,"y":240,"wires":[]},{"id":"716d0fb1.119fd","type":"ui_text","z":"2f0296ff.b8c79a","group":"90559693.85cfa8","order":1,"width":0,"height":0,"name":"","label":"Nome:","format":"{{msg.payload | uppercase}}","layout":"col-center","x":630,"y":460,"wires":[]},{"id":"b2b9ffd1.ee322","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medName1","payloadType":"global","x":190,"y":460,"wires":[["716d0fb1.119fd"]]},{"id":"258e37cd.8fbe98","type":"ui_text","z":"2f0296ff.b8c79a","group":"90559693.85cfa8","order":2,"width":0,"height":0,"name":"","label":"Data de início:","format":"{{msg.payload | date : 'dd/MM/yyyy'}}","layout":"col-center","x":660,"y":500,"wires":[]},{"id":"e52076e4.4aca58","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medStartDate1","payloadType":"global","x":200,"y":500,"wires":[["258e37cd.8fbe98"]]},{"id":"55baed2a.d3dde4","type":"ui_text","z":"2f0296ff.b8c79a","group":"90559693.85cfa8","order":3,"width":0,"height":0,"name":"","label":"Hora de início: ","format":"{{msg.payload | date:'HH:mm'}}","layout":"col-center","x":660,"y":540,"wires":[]},{"id":"eba542b6.935d","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medStartTime1","payloadType":"global","x":210,"y":540,"wires":[["55baed2a.d3dde4"]]},{"id":"4f66ffe3.a2b79","type":"debug","z":"208548bd.e6d988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":140,"wires":[]},{"id":"283ab71a.ca75b8","type":"switch","z":"208548bd.e6d988","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"msg\":\"get\"}","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":240,"wires":[["4a7d056d.3ff74c"]]},{"id":"e55d2d04.1d4f8","type":"comment","z":"208548bd.e6d988","name":"Comentários sobre esse node","info":"O objetivo é receber a mensagem a ser recebida ao ser clicado no botão de sync da caixa ou receber a informação publicada pelo dispositivo referente a utilização da caixa (okmed, encoder, etc).\n\nPor conta disso, eu fiz um switch:\n\n-> Se for \"get\" significa que é a publicação referente a solicitação dos dados da medicação. Dessa maneira, o flow segue para o caso de enviar o JSON.","x":180,"y":80,"wires":[]},{"id":"8f98b286.6f037","type":"mqtt in","z":"208548bd.e6d988","name":"","topic":"iot-2/type/ESP32/id/meepi001/evt/sendinfos/fmt/json","qos":"0","datatype":"auto","broker":"","x":230,"y":380,"wires":[["3f01a758.ab4f98"]]},{"id":"1fd914eb.19a33b","type":"debug","z":"208548bd.e6d988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":380,"wires":[]},{"id":"fe79eedc.71873","type":"ui_text","z":"2f0296ff.b8c79a","group":"46e64040.1f32b","order":5,"width":0,"height":0,"name":"","label":"Última atualização da caixa:","format":"{{msg.payload | date:'HH:mm d/M/yyyy'}}","layout":"col-center","x":540,"y":140,"wires":[]},{"id":"dc3bfd9.b8a64","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"lastSyncBox","payloadType":"global","x":200,"y":140,"wires":[["fe79eedc.71873"]]},{"id":"f3f35c00.9ef65","type":"ui_button","z":"2f0296ff.b8c79a","name":"","group":"46e64040.1f32b","order":6,"width":0,"height":0,"passthru":false,"label":"Recadastrar Remédios","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":260,"wires":[["1fdffa09.637f86"]]},{"id":"3105c99f.39a4f6","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"userName","payloadType":"global","x":190,"y":80,"wires":[["cbff1612.47c6d8"]]},{"id":"cbff1612.47c6d8","type":"ui_text","z":"2f0296ff.b8c79a","group":"46e64040.1f32b","order":1,"width":"0","height":"0","name":"","label":"Olá, ","format":"{{msg.payload}}","layout":"row-left","x":350,"y":80,"wires":[]},{"id":"4c67076d.eee448","type":"ui_text","z":"2f0296ff.b8c79a","group":"90559693.85cfa8","order":7,"width":0,"height":0,"name":"","label":"Último horário consumido:","format":"{{msg.payload}}","layout":"col-center","x":690,"y":620,"wires":[]},{"id":"8da1d1f.7bc553","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"okmed1","payloadType":"global","x":180,"y":620,"wires":[["4d34980c.1ee818"]]},{"id":"684f5a5a.7c7584","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"nextmed1","payloadType":"global","x":190,"y":660,"wires":[["e9694432.ed5c58"]]},{"id":"53d97467.442d6c","type":"ui_text","z":"2f0296ff.b8c79a","group":"90559693.85cfa8","order":8,"width":0,"height":0,"name":"","label":"Próximo horário:","format":"{{msg.payload | date:'HH:mm d/M/yyyy'}}","layout":"col-center","x":660,"y":660,"wires":[]},{"id":"1c0b0450.1e644c","type":"debug","z":"208548bd.e6d988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":180,"wires":[]},{"id":"76f1b272.d0d9ac","type":"function","z":"1b1ce8e2.cd3017","name":"[MED1] Create medPlace Array","func":"var medplace1 = global.set(\"medPlace1\", [0,0,0,0,0,0,0])\n\nvar t = 1\nvar f = 0\n\nif(msg.payload.medPlace1_1 == true){\n    global.set(\"medPlace1[\"+0+\"]\", t)\n}else{\n    global.set(\"medPlace1[\"+0+\"]\", f)\n}\n\nif(msg.payload.medPlace1_2 == true){\n    global.set(\"medPlace1[\"+1+\"]\", t)\n}else{\n    global.set(\"medPlace1[\"+1+\"]\", f)\n}\n\nif(msg.payload.medPlace1_3 == true){\n    global.set(\"medPlace1[\"+2+\"]\", t)\n}else{\n    global.set(\"medPlace1[\"+2+\"]\", f)\n}\n\nif(msg.payload.medPlace1_4 == true){\n    global.set(\"medPlace1[\"+3+\"]\", t)\n}else{\n    global.set(\"medPlace1[\"+3+\"]\", f)\n}\n\nif(msg.payload.medPlace1_5 == true){\n    global.set(\"medPlace1[\"+4+\"]\", t)\n}else{\n    global.set(\"medPlace1[\"+4+\"]\", f)\n}\n\nif(msg.payload.medPlace1_6 == true){\n    global.set(\"medPlace1[\"+5+\"]\", t)\n}else{\n    global.set(\"medPlace1[\"+5+\"]\", f)\n}\n\nif(msg.payload.medPlace1_7 == true){\n    global.set(\"medPlace1[\"+6+\"]\", t)\n}else{\n    global.set(\"medPlace1[\"+6+\"]\", f)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":140,"wires":[[]]},{"id":"5e20f06a.56c57","type":"function","z":"1b1ce8e2.cd3017","name":"[MED2] Create medPlace Array","func":"var medplace2 = global.set(\"medPlace2\", [0,0,0,0,0,0,0])\n\nvar t = 1\nvar f = 0\n\nif(msg.payload.medPlace2_1 == true){\n    global.set(\"medPlace2[\"+0+\"]\", t)\n}else{\n    global.set(\"medPlace2[\"+0+\"]\", f)\n}\n\nif(msg.payload.medPlace2_2 == true){\n    global.set(\"medPlace2[\"+1+\"]\", t)\n}else{\n    global.set(\"medPlace2[\"+1+\"]\", f)\n}\n\nif(msg.payload.medPlace2_3 == true){\n    global.set(\"medPlace2[\"+2+\"]\", t)\n}else{\n    global.set(\"medPlace2[\"+2+\"]\", f)\n}\n\nif(msg.payload.medPlace2_4 == true){\n    global.set(\"medPlace2[\"+3+\"]\", t)\n}else{\n    global.set(\"medPlace2[\"+3+\"]\", f)\n}\n\nif(msg.payload.medPlace2_5 == true){\n    global.set(\"medPlace2[\"+4+\"]\", t)\n}else{\n    global.set(\"medPlace2[\"+4+\"]\", f)\n}\n\nif(msg.payload.medPlace2_6 == true){\n    global.set(\"medPlace2[\"+5+\"]\", t)\n}else{\n    global.set(\"medPlace2[\"+5+\"]\", f)\n}\n\nif(msg.payload.medPlace2_7 == true){\n    global.set(\"medPlace2[\"+6+\"]\", t)\n}else{\n    global.set(\"medPlace2[\"+6+\"]\", f)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":280,"wires":[[]]},{"id":"c6da47dc.4f4928","type":"function","z":"1b1ce8e2.cd3017","name":"[MED3] Create medPlace Array","func":"var medplace3 = global.set(\"medPlace3\", [0,0,0,0,0,0,0])\n\nvar t = 1\nvar f = 0\n\nif(msg.payload.medPlace3_1 == true){\n    global.set(\"medPlace3[\"+0+\"]\", t)\n}else{\n    global.set(\"medPlace3[\"+0+\"]\", f)\n}\n\nif(msg.payload.medPlace3_2 == true){\n    global.set(\"medPlace3[\"+1+\"]\", t)\n}else{\n    global.set(\"medPlace3[\"+1+\"]\", f)\n}\n\nif(msg.payload.medPlace3_3 == true){\n    global.set(\"medPlace3[\"+2+\"]\", t)\n}else{\n    global.set(\"medPlace3[\"+2+\"]\", f)\n}\n\nif(msg.payload.medPlace3_4 == true){\n    global.set(\"medPlace3[\"+3+\"]\", t)\n}else{\n    global.set(\"medPlace3[\"+3+\"]\", f)\n}\n\nif(msg.payload.medPlace3_5 == true){\n    global.set(\"medPlace3[\"+4+\"]\", t)\n}else{\n    global.set(\"medPlace3[\"+4+\"]\", f)\n}\n\nif(msg.payload.medPlace3_6 == true){\n    global.set(\"medPlace3[\"+5+\"]\", t)\n}else{\n    global.set(\"medPlace3[\"+5+\"]\", f)\n}\n\nif(msg.payload.medPlace3_7 == true){\n    global.set(\"medPlace3[\"+6+\"]\", t)\n}else{\n    global.set(\"medPlace3[\"+6+\"]\", f)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":440,"wires":[[]]},{"id":"72c32fd5.00e52","type":"function","z":"1b1ce8e2.cd3017","name":"[MED4] Create medPlace Array","func":"var medplace4 = global.set(\"medPlace4\", [0,0,0,0,0,0,0])\n\nvar t = 1\nvar f = 0\n\nif(msg.payload.medPlace4_1 == true){\n    global.set(\"medPlace4[\"+0+\"]\", t)\n}else{\n    global.set(\"medPlace4[\"+0+\"]\", f)\n}\n\nif(msg.payload.medPlace4_2 == true){\n    global.set(\"medPlace4[\"+1+\"]\", t)\n}else{\n    global.set(\"medPlace4[\"+1+\"]\", f)\n}\n\nif(msg.payload.medPlace4_3 == true){\n    global.set(\"medPlace4[\"+2+\"]\", t)\n}else{\n    global.set(\"medPlace4[\"+2+\"]\", f)\n}\n\nif(msg.payload.medPlace4_4 == true){\n    global.set(\"medPlace4[\"+3+\"]\", t)\n}else{\n    global.set(\"medPlace4[\"+3+\"]\", f)\n}\n\nif(msg.payload.medPlace4_5 == true){\n    global.set(\"medPlace4[\"+4+\"]\", t)\n}else{\n    global.set(\"medPlace4[\"+4+\"]\", f)\n}\n\nif(msg.payload.medPlace4_6 == true){\n    global.set(\"medPlace4[\"+5+\"]\", t)\n}else{\n    global.set(\"medPlace4[\"+5+\"]\", f)\n}\n\nif(msg.payload.medPlace4_7 == true){\n    global.set(\"medPlace4[\"+6+\"]\", t)\n}else{\n    global.set(\"medPlace4[\"+6+\"]\", f)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":580,"wires":[[]]},{"id":"861f9464.872d58","type":"function","z":"1b1ce8e2.cd3017","name":"[MED5] Create medPlace Array","func":"var medplace5 = global.set(\"medPlace5\", [0,0,0,0,0,0,0])\n\nvar t = 1\nvar f = 0\n\nif(msg.payload.medPlace5_1 == true){\n    global.set(\"medPlace5[\"+0+\"]\", t)\n}else{\n    global.set(\"medPlace5[\"+0+\"]\", f)\n}\n\nif(msg.payload.medPlace5_2 == true){\n    global.set(\"medPlace5[\"+1+\"]\", t)\n}else{\n    global.set(\"medPlace5[\"+1+\"]\", f)\n}\n\nif(msg.payload.medPlace5_3 == true){\n    global.set(\"medPlace5[\"+2+\"]\", t)\n}else{\n    global.set(\"medPlace5[\"+2+\"]\", f)\n}\n\nif(msg.payload.medPlace5_4 == true){\n    global.set(\"medPlace5[\"+3+\"]\", t)\n}else{\n    global.set(\"medPlace5[\"+3+\"]\", f)\n}\n\nif(msg.payload.medPlace5_5 == true){\n    global.set(\"medPlace5[\"+4+\"]\", t)\n}else{\n    global.set(\"medPlace5[\"+4+\"]\", f)\n}\n\nif(msg.payload.medPlace5_6 == true){\n    global.set(\"medPlace5[\"+5+\"]\", t)\n}else{\n    global.set(\"medPlace5[\"+5+\"]\", f)\n}\n\nif(msg.payload.medPlace5_7 == true){\n    global.set(\"medPlace5[\"+6+\"]\", t)\n}else{\n    global.set(\"medPlace5[\"+6+\"]\", f)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":720,"wires":[[]]},{"id":"96c2bec4.a63bb","type":"function","z":"1b1ce8e2.cd3017","name":"[MED6] Create medPlace Array","func":"var medplace6 = global.set(\"medPlace6\", [0,0,0,0,0,0,0])\n\nvar t = 1\nvar f = 0\n\nif(msg.payload.medPlace6_1 == true){\n    global.set(\"medPlace6[\"+0+\"]\", t)\n}else{\n    global.set(\"medPlace6[\"+0+\"]\", f)\n}\n\nif(msg.payload.medPlace6_2 == true){\n    global.set(\"medPlace6[\"+1+\"]\", t)\n}else{\n    global.set(\"medPlace6[\"+1+\"]\", f)\n}\n\nif(msg.payload.medPlace6_3 == true){\n    global.set(\"medPlace6[\"+2+\"]\", t)\n}else{\n    global.set(\"medPlace6[\"+2+\"]\", f)\n}\n\nif(msg.payload.medPlace6_4 == true){\n    global.set(\"medPlace6[\"+3+\"]\", t)\n}else{\n    global.set(\"medPlace6[\"+3+\"]\", f)\n}\n\nif(msg.payload.medPlace6_5 == true){\n    global.set(\"medPlace6[\"+4+\"]\", t)\n}else{\n    global.set(\"medPlace6[\"+4+\"]\", f)\n}\n\nif(msg.payload.medPlace6_6 == true){\n    global.set(\"medPlace6[\"+5+\"]\", t)\n}else{\n    global.set(\"medPlace6[\"+5+\"]\", f)\n}\n\nif(msg.payload.medPlace6_7 == true){\n    global.set(\"medPlace6[\"+6+\"]\", t)\n}else{\n    global.set(\"medPlace6[\"+6+\"]\", f)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":860,"wires":[[]]},{"id":"48e9d6b1.20fed8","type":"function","z":"1b1ce8e2.cd3017","name":"[MED7] Create medPlace Array","func":"var medplace7 = global.set(\"medPlace7\", [0,0,0,0,0,0,0])\n\nvar t = 1\nvar f = 0\n\nif(msg.payload.medPlace7_1 == true){\n    global.set(\"medPlace7[\"+0+\"]\", t)\n}else{\n    global.set(\"medPlace7[\"+0+\"]\", f)\n}\n\nif(msg.payload.medPlace7_2 == true){\n    global.set(\"medPlace7[\"+1+\"]\", t)\n}else{\n    global.set(\"medPlace7[\"+1+\"]\", f)\n}\n\nif(msg.payload.medPlace7_3 == true){\n    global.set(\"medPlace7[\"+2+\"]\", t)\n}else{\n    global.set(\"medPlace7[\"+2+\"]\", f)\n}\n\nif(msg.payload.medPlace7_4 == true){\n    global.set(\"medPlace7[\"+3+\"]\", t)\n}else{\n    global.set(\"medPlace7[\"+3+\"]\", f)\n}\n\nif(msg.payload.medPlace7_5 == true){\n    global.set(\"medPlace7[\"+4+\"]\", t)\n}else{\n    global.set(\"medPlace7[\"+4+\"]\", f)\n}\n\nif(msg.payload.medPlace7_6 == true){\n    global.set(\"medPlace7[\"+5+\"]\", t)\n}else{\n    global.set(\"medPlace7[\"+5+\"]\", f)\n}\n\nif(msg.payload.medPlace7_7 == true){\n    global.set(\"medPlace7[\"+6+\"]\", t)\n}else{\n    global.set(\"medPlace7[\"+6+\"]\", f)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":1000,"wires":[[]]},{"id":"c12eea3e.4aaba8","type":"function","z":"1b1ce8e2.cd3017","name":"[MED1] Change Date Format","func":"var meddate = global.get(\"medStartDate1\")\nif(meddate!=null){\n    var datesplit1 = meddate.split(\"T\")\n    var datesplit2 = datesplit1[0].split(\"-\")\n    for (var i=0; i<3; i++){\n    datesplit2[i] = parseInt(datesplit2[i], 10)\n    }\n    global.set(\"medDate1\", datesplit2)\n}else{\n    global.set(\"medDate1\", [0, 0, 0])\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":180,"wires":[[]]},{"id":"3d16ab6a.668fb4","type":"function","z":"1b1ce8e2.cd3017","name":"[MED1] Change Time Format","func":"var medtime = msg.payload\n\nif(medtime!=null){\n    var timesplit1 = medtime.split(\"T\")\n    var timesplit2 = timesplit1[1].split(\":\")\n    timesplit2.splice(2) \n    for (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n    }\n    global.set(\"medTime1\", timesplit2)\n}else{\n    global.set(\"medTime1\", [0,0,0])\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":140,"wires":[[]]},{"id":"4a7d056d.3ff74c","type":"function","z":"208548bd.e6d988","name":"GENERATES JSON","func":"var medtime1 = global.get(\"medTime1\")\nvar meddate1 = global.get(\"medDate1\")\nvar medplace1 = global.get(\"medPlace1\")\n\nvar medtime2 = global.get(\"medTime2\")\nvar meddate2 = global.get(\"medDate2\")\nvar medplace2 = global.get(\"medPlace2\")\n\nvar medtime3 = global.get(\"medTime3\")\nvar meddate3 = global.get(\"medDate3\")\nvar medplace3 = global.get(\"medPlace3\")\n\nvar medtime4 = global.get(\"medTime4\")\nvar meddate4 = global.get(\"medDate4\")\nvar medplace4 = global.get(\"medPlace4\")\n\nvar medtime5 = global.get(\"medTime5\")\nvar meddate5 = global.get(\"medDate5\")\nvar medplace5 = global.get(\"medPlace5\")\n\nvar medtime6 = global.get(\"medTime6\")\nvar meddate6 = global.get(\"medDate6\")\nvar medplace6 = global.get(\"medPlace6\")\n\nvar medtime7 = global.get(\"medTime7\")\nvar meddate7 = global.get(\"medDate7\")\nvar medplace7 = global.get(\"medPlace7\")\n\nmsg.payload = {\n    \"medDate1\": meddate1,\n    \"medTime1\": medtime1,\n    \"medFreq1\": global.get(\"medFreq1\"),\n    \"medPlace1\":medplace1,\n    \"medDate2\": meddate2,\n    \"medTime2\": medtime2,\n    \"medFreq2\": global.get(\"medFreq2\"),\n    \"medPlace2\":medplace2,\n    \"medDate3\": meddate3,\n    \"medTime3\": medtime3,\n    \"medFreq3\": global.get(\"medFreq3\"),\n    \"medPlace3\":medplace3,\n    \"medDate4\": meddate4,\n    \"medTime4\": medtime4,\n    \"medFreq4\": global.get(\"medFreq4\"),\n    \"medPlace4\":medplace4,\n    \"medDate5\": meddate5,\n    \"medTime5\": medtime5,\n    \"medFreq5\": global.get(\"medFreq5\"),\n    \"medPlace5\":medplace5,\n    \"medDate6\": meddate6,\n    \"medTime6\": medtime6,\n    \"medFreq6\": global.get(\"medFreq6\"),\n    \"medPlace6\":medplace6,\n    \"medDate7\": meddate7,\n    \"medTime7\": medtime7,\n    \"medFreq7\": global.get(\"medFreq7\"),\n    \"medPlace7\":medplace7,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":240,"wires":[["1c0b0450.1e644c","2b04ab5e.0d3d04"]]},{"id":"3132748d.828fdc","type":"function","z":"1b1ce8e2.cd3017","name":"[MED2] Change Date Format","func":"var meddate = global.get(\"medStartDate2\")\nif(meddate!=null){\n    var datesplit1 = meddate.split(\"T\")\n    var datesplit2 = datesplit1[0].split(\"-\")\n    for (var i=0; i<3; i++){\n    datesplit2[i] = parseInt(datesplit2[i], 10)\n    }\n    global.set(\"medDate2\", datesplit2)\n}else{\n    global.set(\"medDate2\", [0, 0, 0])\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":320,"wires":[[]]},{"id":"ef57cb28.41b6f8","type":"function","z":"1b1ce8e2.cd3017","name":"[MED2] Change Time Format","func":"var medtime = msg.payload\n\nif(medtime!=null){\n    var timesplit1 = medtime.split(\"T\")\n    var timesplit2 = timesplit1[1].split(\":\")\n    timesplit2.splice(2) \n    for (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n    }\n    global.set(\"medTime2\", timesplit2)\n}else{\n    global.set(\"medTime2\", [0,0,0])\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":280,"wires":[[]]},{"id":"ab42a4ea.a3a5d8","type":"function","z":"1b1ce8e2.cd3017","name":"[MED3] Change Date Format","func":"var meddate = global.get(\"medStartDate3\")\nif(meddate!=null){\n    var datesplit1 = meddate.split(\"T\")\n    var datesplit2 = datesplit1[0].split(\"-\")\n    for (var i=0; i<3; i++){\n    datesplit2[i] = parseInt(datesplit2[i], 10)\n    }\n    global.set(\"medDate3\", datesplit2)\n}else{\n    global.set(\"medDate3\", [0, 0, 0])\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":480,"wires":[[]]},{"id":"288b52da.13b31e","type":"function","z":"1b1ce8e2.cd3017","name":"[MED3] Change Time Format","func":"var medtime = msg.payload\n\nif(medtime!=null){\n    var timesplit1 = medtime.split(\"T\")\n    var timesplit2 = timesplit1[1].split(\":\")\n    timesplit2.splice(2) \n    for (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n    }\n    global.set(\"medTime3\", timesplit2)\n}else{\n    global.set(\"medTime3\", [0,0,0])\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":420,"wires":[[]]},{"id":"4f800199.43ec8","type":"function","z":"1b1ce8e2.cd3017","name":"[MED4] Change Date Format","func":"var meddate = global.get(\"medStartDate4\")\nif(meddate!=null){\n    var datesplit1 = meddate.split(\"T\")\n    var datesplit2 = datesplit1[0].split(\"-\")\n    for (var i=0; i<3; i++){\n    datesplit2[i] = parseInt(datesplit2[i], 10)\n    }\n    global.set(\"medDate4\", datesplit2)\n}else{\n    global.set(\"medDate4\", [0, 0, 0])\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":620,"wires":[[]]},{"id":"558c7c65.b8ace4","type":"function","z":"1b1ce8e2.cd3017","name":"[MED4] Change Time Format","func":"var medtime = msg.payload\n\nif(medtime!=null){\n    var timesplit1 = medtime.split(\"T\")\n    var timesplit2 = timesplit1[1].split(\":\")\n    timesplit2.splice(2) \n    for (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n    }\n    global.set(\"medTime4\", timesplit2)\n}else{\n    global.set(\"medTime4\", [0,0,0])\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":560,"wires":[[]]},{"id":"80cee24.f930a2","type":"function","z":"1b1ce8e2.cd3017","name":"[MED5] Change Date Format","func":"var meddate = global.get(\"medStartDate5\")\nif(meddate!=null){\n    var datesplit1 = meddate.split(\"T\")\n    var datesplit2 = datesplit1[0].split(\"-\")\n    for (var i=0; i<3; i++){\n    datesplit2[i] = parseInt(datesplit2[i], 10)\n    }\n    global.set(\"medDate5\", datesplit2)\n}else{\n    global.set(\"medDate5\", [0, 0, 0])\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":760,"wires":[[]]},{"id":"a83d43eb.d3c19","type":"function","z":"1b1ce8e2.cd3017","name":"[MED5] Change Time Format","func":"var medtime = msg.payload\n\nif(medtime!=null){\n    var timesplit1 = medtime.split(\"T\")\n    var timesplit2 = timesplit1[1].split(\":\")\n    timesplit2.splice(2) \n    for (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n    }\n    global.set(\"medTime5\", timesplit2)\n}else{\n    global.set(\"medTime5\", [0,0,0])\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":700,"wires":[[]]},{"id":"328daf99.32c93","type":"function","z":"1b1ce8e2.cd3017","name":"[MED6] Change Date Format","func":"var meddate = global.get(\"medStartDate6\")\nif(meddate!=null){\n    var datesplit1 = meddate.split(\"T\")\n    var datesplit2 = datesplit1[0].split(\"-\")\n    for (var i=0; i<3; i++){\n    datesplit2[i] = parseInt(datesplit2[i], 10)\n    }\n    global.set(\"medDate6\", datesplit2)\n}else{\n    global.set(\"medDate6\", [0, 0, 0])\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":900,"wires":[[]]},{"id":"c3050a49.0806d8","type":"function","z":"1b1ce8e2.cd3017","name":"[MED6] Change Time Format","func":"var medtime = msg.payload\n\nif(medtime!=null){\n    var timesplit1 = medtime.split(\"T\")\n    var timesplit2 = timesplit1[1].split(\":\")\n    timesplit2.splice(2) \n    for (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n    }\n    global.set(\"medTime6\", timesplit2)\n}else{\n    global.set(\"medTime6\", [0,0,0])\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":840,"wires":[[]]},{"id":"6325bf0.6edb34","type":"function","z":"1b1ce8e2.cd3017","name":"[MED7] Change Date Format","func":"var meddate = global.get(\"medStartDate7\")\nif(meddate!=null){\n    var datesplit1 = meddate.split(\"T\")\n    var datesplit2 = datesplit1[0].split(\"-\")\n    for (var i=0; i<3; i++){\n    datesplit2[i] = parseInt(datesplit2[i], 10)\n    }\n    global.set(\"medDate7\", datesplit2)\n}else{\n    global.set(\"medDate7\", [0, 0, 0])\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":1040,"wires":[[]]},{"id":"cdd43411.f83a18","type":"function","z":"1b1ce8e2.cd3017","name":"[MED7] Change Time Format","func":"var medtime = msg.payload\n\nif(medtime!=null){\n    var timesplit1 = medtime.split(\"T\")\n    var timesplit2 = timesplit1[1].split(\":\")\n    timesplit2.splice(2) \n    for (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n    }\n    global.set(\"medTime7\", timesplit2)\n}else{\n    global.set(\"medTime7\", [0,0,0])\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":980,"wires":[[]]},{"id":"be7502eb.679ca","type":"function","z":"208548bd.e6d988","name":"get date","func":"var date=new Date();\nvar timestamp =date.getTime();\n//timestamp=timestamp-(3*3600*1000); //3hour in milliseconds\nglobal.set(\"lastSyncBox\", timestamp)\nmsg.payload = timestamp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":80,"wires":[["9c71a1e0.04ec1"]]},{"id":"9c71a1e0.04ec1","type":"debug","z":"208548bd.e6d988","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":80,"wires":[]},{"id":"8856455.fb271b8","type":"function","z":"208548bd.e6d988","d":true,"name":"GENERATES BACKUP JSON","func":"var medtime1 = global.get(\"medTime1\")\nvar meddate1 = global.get(\"medDate1\")\nvar medplace1 = global.get(\"medPlace1\")\nvar medstarttime1 = global.get(\"medStartTime1\")\nvar medstartdate1 = global.get(\"medStartDate1\")\nvar medqtd1 = global.get(\"qtdMed1\")\nvar meddos1 = global.get(\"dosMed1\")\n\nvar medtime2 = global.get(\"medTime2\")\nvar meddate2 = global.get(\"medDate2\")\nvar medplace2 = global.get(\"medPlace2\")\nvar medstarttime2 = global.get(\"medStartTime2\")\nvar medstartdate2 = global.get(\"medStartDate2\")\nvar medqtd2 = global.get(\"qtdMed2\")\nvar meddos2 = global.get(\"dosMed2\")\n\nvar medtime3 = global.get(\"medTime3\")\nvar meddate3 = global.get(\"medDate3\")\nvar medplace3 = global.get(\"medPlace3\")\nvar medstarttime3 = global.get(\"medStartTime3\")\nvar medstartdate3 = global.get(\"medStartDate3\")\nvar medqtd3 = global.get(\"qtdMed3\")\nvar meddos3 = global.get(\"dosMed3\")\n\nvar medtime4 = global.get(\"medTime4\")\nvar meddate4 = global.get(\"medDate4\")\nvar medplace4 = global.get(\"medPlace4\")\nvar medstarttime4 = global.get(\"medStartTime4\")\nvar medstartdate4 = global.get(\"medStartDate4\")\nvar medqtd4 = global.get(\"qtdMed4\")\nvar meddos4 = global.get(\"dosMed4\")\n\nvar medtime5 = global.get(\"medTime5\")\nvar meddate5 = global.get(\"medDate5\")\nvar medplace5 = global.get(\"medPlace5\")\nvar medstarttime5 = global.get(\"medStartTime5\")\nvar medstartdate5 = global.get(\"medStartDate5\")\nvar medqtd5 = global.get(\"qtdMed5\")\nvar meddos5 = global.get(\"dosMed5\")\n\nvar medtime6 = global.get(\"medTime6\")\nvar meddate6 = global.get(\"medDate6\")\nvar medplace6 = global.get(\"medPlace6\")\nvar medstarttime6 = global.get(\"medStartTime6\")\nvar medstartdate6 = global.get(\"medStartDate6\")\nvar medqtd6 = global.get(\"qtdMed6\")\nvar meddos6 = global.get(\"dosMed6\")\n\nvar medtime7 = global.get(\"medTime7\")\nvar meddate7 = global.get(\"medDate7\")\nvar medplace7 = global.get(\"medPlace7\")\nvar medstarttime7 = global.get(\"medStartTime7\")\nvar medstartdate7 = global.get(\"medStartDate7\")\nvar medqtd7 = global.get(\"qtdMed7\")\nvar meddos7 = global.get(\"dosMed7\")\n\nmsg.payload = {\n    \"medDate1\": meddate1,\n    \"medTime1\": medtime1,\n    \"medFreq1\": global.get(\"medFreq1\"),\n    \"medPlace1\": medplace1,\n    \"medStartTime1\": medstarttime1,\n    \"medStartDate1\": medstartdate1,\n    \"qtdMed1\":medqtd1,\n    \"dosMed1\":dosmed1,\n    \"medDate2\": meddate2,\n    \"medTime2\": medtime2,\n    \"medFreq2\": global.get(\"medFreq2\"),\n    \"medPlace2\":medplace1,\n    \"medStartTime2\": medstarttime2,\n    \"medStartDate2\": medstartdate2,\n    \"qtdMed2\":medqtd2,\n    \"dosMed2\":dosmed2,\n    \"medDate3\": meddate3,\n    \"medTime3\": medtime3,\n    \"medFreq3\": global.get(\"medFreq3\"),\n    \"medPlace3\":medplace3,\n    \"medStartTime3\": medstarttime3,\n    \"medStartDate3\": medstartdate3,\n    \"qtdMed3\":medqtd3,\n    \"dosMed3\":dosmed3,\n    \"medDate4\": meddate4,\n    \"medTime4\": medtime4,\n    \"medFreq4\": global.get(\"medFreq4\"),\n    \"medPlace4\":medplace4,\n    \"medStartTime4\": medstarttime4,\n    \"medStartDate4\": medstartdate4,\n    \"qtdMed4\":medqtd4,\n    \"dosMed4\":dosmed4,\n    \"medDate5\": meddate5,\n    \"medTime5\": medtime5,\n    \"medFreq5\": global.get(\"medFreq5\"),\n    \"medPlace5\":medplace5,\n    \"medDate6\": meddate6,\n    \"medTime6\": medtime6,\n    \"medFreq6\": global.get(\"medFreq6\"),\n    \"medPlace6\":medplace6,\n    \"medDate7\": meddate7,\n    \"medTime7\": medtime7,\n    \"medFreq7\": global.get(\"medFreq7\"),\n    \"medPlace7\":medplace7,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2170,"y":2720,"wires":[[]]},{"id":"3f01a758.ab4f98","type":"json","z":"208548bd.e6d988","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":380,"wires":[["1fd914eb.19a33b","33e7883.8f0ee78"]]},{"id":"bd112115.6ee29","type":"comment","z":"2f0296ff.b8c79a","name":"General Group","info":"","x":160,"y":20,"wires":[]},{"id":"22da6b42.727dd4","type":"ui_button","z":"2f0296ff.b8c79a","name":"","group":"46e64040.1f32b","order":7,"width":0,"height":0,"passthru":false,"label":"Recadastrar Usuário e Tutor","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":320,"wires":[["3944334d.e529ac"]]},{"id":"3944334d.e529ac","type":"change","z":"2f0296ff.b8c79a","name":"Set to zero all user and tutor info","rules":[{"t":"set","p":"userCell","pt":"global","to":"","tot":"num"},{"t":"set","p":"userName","pt":"global","to":"","tot":"str"},{"t":"set","p":"userMail","pt":"global","to":"","tot":"str"},{"t":"set","p":"userTelegramOp","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"tutorName","pt":"global","to":"","tot":"str"},{"t":"set","p":"tutorCell","pt":"global","to":"","tot":"num"},{"t":"set","p":"tutorTelegramOp","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"tutorMail","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":320,"wires":[[]]},{"id":"1fdffa09.637f86","type":"change","z":"2f0296ff.b8c79a","name":"Set all to zero","rules":[{"t":"set","p":"dosMed1","pt":"global","to":"","tot":"num"},{"t":"set","p":"dosMed2","pt":"global","to":"","tot":"num"},{"t":"set","p":"dosMed3","pt":"global","to":"","tot":"num"},{"t":"set","p":"dosMed4","pt":"global","to":"","tot":"num"},{"t":"set","p":"dosMed5","pt":"global","to":"","tot":"num"},{"t":"set","p":"dosMed6","pt":"global","to":"","tot":"num"},{"t":"set","p":"dosMed7","pt":"global","to":"","tot":"num"},{"t":"set","p":"medStartDate1","pt":"global","to":"","tot":"str"},{"t":"set","p":"medStartDate2","pt":"global","to":"","tot":"str"},{"t":"set","p":"medStartDate3","pt":"global","to":"","tot":"str"},{"t":"set","p":"medStartDate4","pt":"global","to":"","tot":"str"},{"t":"set","p":"medStartDate5","pt":"global","to":"","tot":"str"},{"t":"set","p":"medStartDate6","pt":"global","to":"","tot":"str"},{"t":"set","p":"medStartDate7","pt":"global","to":"","tot":"str"},{"t":"set","p":"medStartTime1","pt":"global","to":"","tot":"str"},{"t":"set","p":"medStartTime2","pt":"global","to":"","tot":"str"},{"t":"set","p":"medStartTime3","pt":"global","to":"","tot":"str"},{"t":"set","p":"medStartTime4","pt":"global","to":"","tot":"str"},{"t":"set","p":"medStartTime5","pt":"global","to":"","tot":"str"},{"t":"set","p":"medStartTime6","pt":"global","to":"","tot":"str"},{"t":"set","p":"medStartTime7","pt":"global","to":"","tot":"str"},{"t":"set","p":"medFreq1","pt":"global","to":"","tot":"num"},{"t":"set","p":"medFreq2","pt":"global","to":"","tot":"num"},{"t":"set","p":"medFreq3","pt":"global","to":"","tot":"num"},{"t":"set","p":"medFreq4","pt":"global","to":"","tot":"num"},{"t":"set","p":"medFreq5","pt":"global","to":"","tot":"num"},{"t":"set","p":"medFreq6","pt":"global","to":"","tot":"num"},{"t":"set","p":"medFreq7","pt":"global","to":"","tot":"num"},{"t":"set","p":"medPlace1_1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace1_2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace1_3","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace1_4","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"medPlace1_5","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace1_6","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace1_7","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace2_1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace2_2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace2_2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace2_3","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace2_4","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace2_5","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace2_6","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace2_7","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace3_1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace3_2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace3_3","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace3_4","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace3_5","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace3_6","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace3_7","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace4_1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace4_2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace4_3","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace4_4","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace4_5","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace4_6","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace4_7","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace5_1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace5_2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace5_3","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace5_4","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace5_5","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace5_6","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace5_7","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace6_1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace6_2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace6_3","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace6_4","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace6_5","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace6_6","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace6_7","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace7_1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace7_2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace7_3","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace7_4","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace7_5","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace7_6","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medPlace7_7","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"medName1","pt":"global","to":"","tot":"str"},{"t":"set","p":"medName2","pt":"global","to":"","tot":"str"},{"t":"set","p":"medName3","pt":"global","to":"","tot":"str"},{"t":"set","p":"medName4","pt":"global","to":"","tot":"str"},{"t":"set","p":"medName5","pt":"global","to":"","tot":"str"},{"t":"set","p":"medName6","pt":"global","to":"","tot":"str"},{"t":"set","p":"medName7","pt":"global","to":"","tot":"str"},{"t":"set","p":"lastSyncBox","pt":"global","to":"","tot":"num"},{"t":"set","p":"okmed2","pt":"global","to":"","tot":"str"},{"t":"set","p":"okmed3","pt":"global","to":"","tot":"str"},{"t":"set","p":"okmed4","pt":"global","to":"","tot":"str"},{"t":"set","p":"okmed5","pt":"global","to":"","tot":"str"},{"t":"set","p":"okmed6","pt":"global","to":"","tot":"str"},{"t":"set","p":"okmed7","pt":"global","to":"","tot":"str"},{"t":"set","p":"okmed1","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":260,"wires":[["c7c7f7ec.5a3bc8"]]},{"id":"e9daff9e.98702","type":"ui_text","z":"2f0296ff.b8c79a","group":"90559693.85cfa8","order":5,"width":0,"height":0,"name":"","label":"Dosagem por horário:","format":"{{msg.payload}}","layout":"col-center","x":680,"y":580,"wires":[]},{"id":"abad80bb.a64ea","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"dosMed1","payloadType":"global","x":190,"y":580,"wires":[["e9daff9e.98702"]]},{"id":"33e7883.8f0ee78","type":"change","z":"208548bd.e6d988","name":"Set to global","rules":[{"t":"set","p":"okmed1","pt":"global","to":"payload.okmed1","tot":"msg"},{"t":"set","p":"okmed2","pt":"global","to":"payload.okmed2","tot":"msg"},{"t":"set","p":"okmed3","pt":"global","to":"payload.okmed3","tot":"msg"},{"t":"set","p":"okmed4","pt":"global","to":"payload.okmed4","tot":"msg"},{"t":"set","p":"okmed5","pt":"global","to":"payload.okmed5","tot":"msg"},{"t":"set","p":"okmed6","pt":"global","to":"payload.okmed6","tot":"msg"},{"t":"set","p":"okmed7","pt":"global","to":"payload.okmed7","tot":"msg"},{"t":"set","p":"nextmed1","pt":"global","to":"payload.nextmed1","tot":"msg"},{"t":"set","p":"nextmed2","pt":"global","to":"payload.nextmed2","tot":"msg"},{"t":"set","p":"nextmed3","pt":"global","to":"payload.nextmed3","tot":"msg"},{"t":"set","p":"nextmed4","pt":"global","to":"payload.nextmed4","tot":"msg"},{"t":"set","p":"nextmed5","pt":"global","to":"payload.nextmed5","tot":"msg"},{"t":"set","p":"nextmed6","pt":"global","to":"payload.nextmed6","tot":"msg"},{"t":"set","p":"nextmed7","pt":"global","to":"payload.nextmed7","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":460,"wires":[["9a83b141.bdf38","12e2be76.4119b2","c570d878.a52ab8","fce8d856.f8c268","51e9a8d1.917e68","a1ebf61a.33b418"]]},{"id":"525b27f6.3ebbd8","type":"ui_text","z":"2f0296ff.b8c79a","group":"7e158bed.eb3f54","order":1,"width":0,"height":0,"name":"","label":"Nome:","format":"{{msg.payload | uppercase}}","layout":"col-center","x":630,"y":940,"wires":[]},{"id":"7ac34a57.d1b7b4","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medName2","payloadType":"global","x":190,"y":940,"wires":[["525b27f6.3ebbd8"]]},{"id":"7e785aae.41ce54","type":"ui_text","z":"2f0296ff.b8c79a","group":"7e158bed.eb3f54","order":2,"width":0,"height":0,"name":"","label":"Data de início:","format":"{{msg.payload | date : 'dd/MM/yyyy'}}","layout":"col-center","x":660,"y":980,"wires":[]},{"id":"8cbde910.813968","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medStartDate2","payloadType":"global","x":200,"y":980,"wires":[["7e785aae.41ce54"]]},{"id":"e7b3902b.05021","type":"ui_text","z":"2f0296ff.b8c79a","group":"7e158bed.eb3f54","order":3,"width":0,"height":0,"name":"","label":"Hora de início: ","format":"{{msg.payload | date:'HH:mm'}}","layout":"col-center","x":660,"y":1020,"wires":[]},{"id":"11f73ef6.e0eda1","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medStartTime2","payloadType":"global","x":210,"y":1020,"wires":[["e7b3902b.05021"]]},{"id":"972a24c3.46b848","type":"ui_text","z":"2f0296ff.b8c79a","group":"7e158bed.eb3f54","order":6,"width":0,"height":0,"name":"","label":"Último horário consumido:","format":"{{msg.payload | date:'HH:mm d/M/yyyy'}}","layout":"col-center","x":690,"y":1100,"wires":[]},{"id":"58f4c1bc.fa3cc","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"okmed2","payloadType":"global","x":180,"y":1100,"wires":[["e4177080.b1e59"]]},{"id":"945192b7.89ced","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"nextmed2","payloadType":"global","x":190,"y":1140,"wires":[["bb13ea24.a59818"]]},{"id":"b9b710ea.6a941","type":"ui_text","z":"2f0296ff.b8c79a","group":"7e158bed.eb3f54","order":7,"width":0,"height":0,"name":"","label":"Próximo horário:","format":"{{msg.payload | date:'HH:mm d/M/yyyy'}}","layout":"col-center","x":660,"y":1140,"wires":[]},{"id":"b3f2633c.75fd1","type":"ui_text","z":"2f0296ff.b8c79a","group":"7e158bed.eb3f54","order":4,"width":0,"height":0,"name":"","label":"Dosagem por horário:","format":"{{msg.payload}}","layout":"col-center","x":680,"y":1060,"wires":[]},{"id":"49811e88.3f4f9","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"dosMed2","payloadType":"global","x":190,"y":1060,"wires":[["b3f2633c.75fd1"]]},{"id":"a3f658b3.66b9e8","type":"ui_text","z":"2f0296ff.b8c79a","group":"21aa33a0.b3097c","order":1,"width":0,"height":0,"name":"","label":"Nome:","format":"{{msg.payload | uppercase}}","layout":"col-center","x":630,"y":1280,"wires":[]},{"id":"303c81b5.67289e","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medName3","payloadType":"global","x":190,"y":1280,"wires":[["a3f658b3.66b9e8"]]},{"id":"7ca391df.555ed","type":"ui_text","z":"2f0296ff.b8c79a","group":"21aa33a0.b3097c","order":2,"width":0,"height":0,"name":"","label":"Data de início:","format":"{{msg.payload | date : 'dd/MM/yyyy'}}","layout":"col-center","x":660,"y":1320,"wires":[]},{"id":"c3667920.2f37c8","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medStartDate3","payloadType":"global","x":200,"y":1320,"wires":[["7ca391df.555ed"]]},{"id":"c97cf2ed.a90f","type":"ui_text","z":"2f0296ff.b8c79a","group":"21aa33a0.b3097c","order":3,"width":0,"height":0,"name":"","label":"Hora de início: ","format":"{{msg.payload | date:'HH:mm'}}","layout":"col-center","x":660,"y":1360,"wires":[]},{"id":"9ca2692d.d52d58","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medStartTime3","payloadType":"global","x":210,"y":1360,"wires":[["c97cf2ed.a90f"]]},{"id":"42079c30.7052a4","type":"ui_text","z":"2f0296ff.b8c79a","group":"21aa33a0.b3097c","order":7,"width":0,"height":0,"name":"","label":"Último horário consumido:","format":"{{msg.payload | date:'HH:mm d/M/yyyy'}}","layout":"col-center","x":690,"y":1440,"wires":[]},{"id":"4e673322.36eb8c","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"okmed3","payloadType":"global","x":180,"y":1440,"wires":[["42079c30.7052a4"]]},{"id":"34aa0072.60a8b","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"nextmed3","payloadType":"global","x":190,"y":1480,"wires":[["35e122d6.954e8e"]]},{"id":"90b80e8.84122f","type":"ui_text","z":"2f0296ff.b8c79a","group":"21aa33a0.b3097c","order":8,"width":0,"height":0,"name":"","label":"Próximo horário:","format":"{{msg.payload | date:'HH:mm d/M/yyyy'}}","layout":"col-center","x":660,"y":1480,"wires":[]},{"id":"430dd8fe.157f98","type":"ui_text","z":"2f0296ff.b8c79a","group":"21aa33a0.b3097c","order":5,"width":0,"height":0,"name":"","label":"Dosagem por horário:","format":"{{msg.payload}}","layout":"col-center","x":680,"y":1400,"wires":[]},{"id":"56b54c3a.0fad14","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"dosMed3","payloadType":"global","x":190,"y":1400,"wires":[["430dd8fe.157f98"]]},{"id":"af964374.ae24b","type":"ui_text","z":"2f0296ff.b8c79a","group":"c11bcb3d.879d68","order":1,"width":0,"height":0,"name":"","label":"Nome:","format":"{{msg.payload | uppercase}}","layout":"col-center","x":630,"y":1620,"wires":[]},{"id":"fdc4aa09.d1ef48","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medName4","payloadType":"global","x":190,"y":1620,"wires":[["af964374.ae24b"]]},{"id":"f4f9cb4d.611c78","type":"ui_text","z":"2f0296ff.b8c79a","group":"c11bcb3d.879d68","order":2,"width":0,"height":0,"name":"","label":"Data de início:","format":"{{msg.payload | date : 'dd/MM/yyyy'}}","layout":"col-center","x":660,"y":1660,"wires":[]},{"id":"c0f8b793.caac28","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medStartDate4","payloadType":"global","x":200,"y":1660,"wires":[["f4f9cb4d.611c78"]]},{"id":"592952da.f73f0c","type":"ui_text","z":"2f0296ff.b8c79a","group":"c11bcb3d.879d68","order":3,"width":0,"height":0,"name":"","label":"Hora de início: ","format":"{{msg.payload | date:'HH:mm'}}","layout":"col-center","x":660,"y":1700,"wires":[]},{"id":"a731487e.1a9248","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medStartTime4","payloadType":"global","x":210,"y":1700,"wires":[["592952da.f73f0c"]]},{"id":"a56f9e9.92e1d6","type":"ui_text","z":"2f0296ff.b8c79a","group":"c11bcb3d.879d68","order":7,"width":0,"height":0,"name":"","label":"Último horário consumido:","format":"{{msg.payload}}","layout":"col-center","x":690,"y":1780,"wires":[]},{"id":"f692ccb7.f3c45","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"okmed4","payloadType":"global","x":180,"y":1780,"wires":[["23b93652.74fb6a"]]},{"id":"559b2553.69417c","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"nextmed4","payloadType":"global","x":190,"y":1820,"wires":[["158b2012.371c5"]]},{"id":"b1564425.0ea258","type":"ui_text","z":"2f0296ff.b8c79a","group":"c11bcb3d.879d68","order":8,"width":0,"height":0,"name":"","label":"Próximo horário:","format":"{{msg.payload}}","layout":"col-center","x":660,"y":1820,"wires":[]},{"id":"a241868d.76e9d8","type":"ui_text","z":"2f0296ff.b8c79a","group":"c11bcb3d.879d68","order":5,"width":0,"height":0,"name":"","label":"Dosagem por horário:","format":"{{msg.payload}}","layout":"col-center","x":680,"y":1740,"wires":[]},{"id":"5403d08e.d4333","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"dosMed4","payloadType":"global","x":190,"y":1740,"wires":[["a241868d.76e9d8"]]},{"id":"9b42d4da.66b0f8","type":"ui_text","z":"2f0296ff.b8c79a","group":"d69e066c.887f38","order":1,"width":0,"height":0,"name":"","label":"Nome:","format":"{{msg.payload | uppercase}}","layout":"col-center","x":630,"y":1980,"wires":[]},{"id":"1638efb3.dcdfd","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medName5","payloadType":"global","x":190,"y":1980,"wires":[["9b42d4da.66b0f8"]]},{"id":"50fde1bb.be3af","type":"ui_text","z":"2f0296ff.b8c79a","group":"d69e066c.887f38","order":2,"width":0,"height":0,"name":"","label":"Data de início:","format":"{{msg.payload | date : 'dd/MM/yyyy'}}","layout":"col-center","x":660,"y":2020,"wires":[]},{"id":"d989e97.adcf318","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medStartDate5","payloadType":"global","x":200,"y":2020,"wires":[["50fde1bb.be3af"]]},{"id":"34348ad3.6f8206","type":"ui_text","z":"2f0296ff.b8c79a","group":"d69e066c.887f38","order":3,"width":0,"height":0,"name":"","label":"Hora de início: ","format":"{{msg.payload | date:'HH:mm'}}","layout":"col-center","x":660,"y":2060,"wires":[]},{"id":"6aa296a6.b299d8","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medStartTime5","payloadType":"global","x":210,"y":2060,"wires":[["34348ad3.6f8206"]]},{"id":"bc6d6dc6.3a505","type":"ui_text","z":"2f0296ff.b8c79a","group":"d69e066c.887f38","order":7,"width":0,"height":0,"name":"","label":"Último horário consumido:","format":"{{msg.payload | date:'HH:mm d/M/yyyy'}}","layout":"col-center","x":690,"y":2140,"wires":[]},{"id":"14efb785.2b5f98","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"okmed5","payloadType":"global","x":180,"y":2140,"wires":[["f775e22d.68dd9"]]},{"id":"cca0c0c8.77fcd","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"nextmed5","payloadType":"global","x":190,"y":2180,"wires":[["f891f79d.4f6388"]]},{"id":"ddc93c0b.2e856","type":"ui_text","z":"2f0296ff.b8c79a","group":"d69e066c.887f38","order":8,"width":0,"height":0,"name":"","label":"Próximo horário:","format":"{{msg.payload}}","layout":"col-center","x":660,"y":2180,"wires":[]},{"id":"26bf2a70.86fd26","type":"ui_text","z":"2f0296ff.b8c79a","group":"d69e066c.887f38","order":5,"width":0,"height":0,"name":"","label":"Dosagem por horário:","format":"{{msg.payload}}","layout":"col-center","x":680,"y":2100,"wires":[]},{"id":"cf8b026a.2b487","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"dosMed5","payloadType":"global","x":190,"y":2100,"wires":[["26bf2a70.86fd26"]]},{"id":"a34f2095.53a95","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medFreq4","payloadType":"global","x":190,"y":1860,"wires":[["b91058c1.1c5498"]]},{"id":"b91058c1.1c5498","type":"ui_text","z":"2f0296ff.b8c79a","group":"c11bcb3d.879d68","order":4,"width":0,"height":0,"name":"","label":"Frequência (h):","format":"{{msg.payload}}","layout":"col-center","x":660,"y":1860,"wires":[]},{"id":"e8825d61.f9875","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medFreq5","payloadType":"global","x":190,"y":2220,"wires":[["3fac44dd.3d26cc"]]},{"id":"3fac44dd.3d26cc","type":"ui_text","z":"2f0296ff.b8c79a","group":"d69e066c.887f38","order":4,"width":0,"height":0,"name":"","label":"Frequência (h):","format":"{{msg.payload}}","layout":"col-center","x":660,"y":2220,"wires":[]},{"id":"8a331eba.b0a61","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medFreq3","payloadType":"global","x":190,"y":1520,"wires":[["fa4d049f.a9bb18"]]},{"id":"fa4d049f.a9bb18","type":"ui_text","z":"2f0296ff.b8c79a","group":"21aa33a0.b3097c","order":4,"width":0,"height":0,"name":"","label":"Frequência (h):","format":"{{msg.payload}}","layout":"col-center","x":660,"y":1520,"wires":[]},{"id":"edd6233b.622c1","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medFreq2","payloadType":"global","x":190,"y":1180,"wires":[["ca01b9bb.6b2a18"]]},{"id":"ca01b9bb.6b2a18","type":"ui_text","z":"2f0296ff.b8c79a","group":"7e158bed.eb3f54","order":3,"width":0,"height":0,"name":"","label":"Frequência (h):","format":"{{msg.payload}}","layout":"col-center","x":660,"y":1180,"wires":[]},{"id":"4ffe7cd1.03ec94","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medFreq1","payloadType":"global","x":190,"y":700,"wires":[["502c09ac.56f048"]]},{"id":"502c09ac.56f048","type":"ui_text","z":"2f0296ff.b8c79a","group":"90559693.85cfa8","order":4,"width":0,"height":0,"name":"","label":"Frequência (h):","format":"{{msg.payload}}","layout":"col-center","x":660,"y":700,"wires":[]},{"id":"cc9861a6.c79de","type":"ui_dropdown","z":"2f0296ff.b8c79a","name":"","label":"Ver:","tooltip":"Selecione o número de medicamentos para visualização","place":"Selecione","group":"46e64040.1f32b","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"0","value":"0","type":"str"},{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"},{"label":"3","value":"3","type":"str"},{"label":"4","value":"4","type":"str"},{"label":"5","value":"5","type":"str"},{"label":"6","value":"6","type":"str"},{"label":"7","value":"7","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":130,"y":200,"wires":[["c6b70e6.65253f"]]},{"id":"b24be65e.4d3488","type":"ui_ui_control","z":"2f0296ff.b8c79a","name":"","events":"all","x":640,"y":200,"wires":[[]]},{"id":"c6b70e6.65253f","type":"function","z":"2f0296ff.b8c79a","name":"","func":"qtd = msg.payload;\n\nif (qtd==0){\n    msg.payload = {\"group\": {\"hide\": [\"Dashboard_Medicação_1\",\"Dashboard_Medicação_2\",\"Dashboard_Medicação_3\",\"Dashboard_Medicação_4\", \"Dashboard_Medicação_5\",\"Dashboard_Medicação_6\", \"Dashboard_Medicação_7\"]}}\n    return msg;\n}else if (qtd == 1){\n    msg.payload = {\"group\": {\"hide\": [\"Dashboard_Medicação_2\",\"Dashboard_Medicação_3\",\"Dashboard_Medicação_4\", \"Dashboard_Medicação_5\",\"Dashboard_Medicação_6\", \"Dashboard_Medicação_7\"], \"show\": [\"Dashboard_Medicação_1\"]}}\n    return msg;\n}else if(qtd==2){\n    msg.payload = {\"group\": {\"hide\": [\"Dashboard_Medicação_3\",\"Dashboard_Medicação_4\", \"Dashboard_Medicação_5\",\"Dashboard_Medicação_6\", \"Dashboard_Medicação_7\"], \"show\": [\"Dashboard_Medicação_1\", \"Dashboard_Medicação_2\"]}}\n    return msg;\n}else if(qtd==3){\n    msg.payload = {\"group\": {\"hide\": [\"Dashboard_Medicação_4\", \"Dashboard_Medicação_5\",\"Dashboard_Medicação_6\", \"Dashboard_Medicação_7\"], \"show\": [\"Dashboard_Medicação_1\", \"Dashboard_Medicação_2\", \"Dashboard_Medicação_3\"]}}\n    return msg;\n}else if(qtd==4){\n    msg.payload = {\"group\": {\"hide\": [\"Dashboard_Medicação_5\",\"Dashboard_Medicação_6\", \"Dashboard_Medicação_7\"], \"show\": [\"Dashboard_Medicação_1\", \"Dashboard_Medicação_2\", \"Dashboard_Medicação_3\",\"Dashboard_Medicação_4\"]}}\n    return msg;\n}else if(qtd==5){\n    msg.payload = {\"group\": {\"hide\": [\"Dashboard_Medicação_6\", \"Dashboard_Medicação_7\"], \"show\": [\"Dashboard_Medicação_1\", \"Dashboard_Medicação_2\", \"Dashboard_Medicação_3\",\"Dashboard_Medicação_4\", \"Dashboard_Medicação_5\"]}}\n    return msg;\n}else if(qtd==6){\n    msg.payload = {\"group\": {\"hide\": [\"Dashboard_Medicação_7\"], \"show\": [\"Dashboard_Medicação_1\",\"Dashboard_Medicação_2\",\"Dashboard_Medicação_3\",\"Dashboard_Medicação_4\", \"Dashboard_Medicação_5\",\"Dashboard_Medicação_6\"]}}\n    return msg;\n}else if(qtd==7){\n    msg.payload = {\"group\": {\"show\": [\"Dashboard_Medicação_1\",\"Dashboard_Medicação_2\",\"Dashboard_Medicação_3\",\"Dashboard_Medicação_4\", \"Dashboard_Medicação_5\",\"Dashboard_Medicação_6\", \"Dashboard_Medicação_7\"]}}\n    return msg;\n}\n\n        \n      \n\n     \n\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":200,"wires":[["b24be65e.4d3488"]]},{"id":"2ada452a.ca3eba","type":"ui_text","z":"2f0296ff.b8c79a","group":"f70dbdc1.19e9","order":1,"width":0,"height":0,"name":"","label":"Nome:","format":"{{msg.payload | uppercase}}","layout":"col-center","x":630,"y":2320,"wires":[]},{"id":"83fccd4b.17dad","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medName6","payloadType":"global","x":190,"y":2320,"wires":[["2ada452a.ca3eba"]]},{"id":"a11dd610.d4f7a8","type":"ui_text","z":"2f0296ff.b8c79a","group":"f70dbdc1.19e9","order":2,"width":0,"height":0,"name":"","label":"Data de início:","format":"{{msg.payload | date : 'dd/MM/yyyy'}}","layout":"col-center","x":660,"y":2360,"wires":[]},{"id":"8d5ed15f.f257e","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medStartDate6","payloadType":"global","x":200,"y":2360,"wires":[["a11dd610.d4f7a8"]]},{"id":"eb65498e.614c38","type":"ui_text","z":"2f0296ff.b8c79a","group":"f70dbdc1.19e9","order":3,"width":0,"height":0,"name":"","label":"Hora de início: ","format":"{{msg.payload | date:'HH:mm'}}","layout":"col-center","x":660,"y":2400,"wires":[]},{"id":"d507cd7.ca5dc3","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medStartTime6","payloadType":"global","x":210,"y":2400,"wires":[["eb65498e.614c38"]]},{"id":"d7d31663.f4cd28","type":"ui_text","z":"2f0296ff.b8c79a","group":"f70dbdc1.19e9","order":7,"width":0,"height":0,"name":"","label":"Último horário consumido:","format":"{{msg.payload}}","layout":"col-center","x":690,"y":2480,"wires":[]},{"id":"f0a8d254.67025","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"okmed6","payloadType":"global","x":180,"y":2480,"wires":[["b9d7bbe8.bea2b8"]]},{"id":"c982e5de.28e1e8","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"nextmed6","payloadType":"global","x":190,"y":2520,"wires":[["5b5bf96d.2754a8"]]},{"id":"d6c8dbdf.ef1908","type":"ui_text","z":"2f0296ff.b8c79a","group":"f70dbdc1.19e9","order":8,"width":0,"height":0,"name":"","label":"Próximo horário:","format":"{{msg.payload}}","layout":"col-center","x":660,"y":2520,"wires":[]},{"id":"75094cd5.11f134","type":"ui_text","z":"2f0296ff.b8c79a","group":"f70dbdc1.19e9","order":5,"width":0,"height":0,"name":"","label":"Dosagem por horário:","format":"{{msg.payload}}","layout":"col-center","x":680,"y":2440,"wires":[]},{"id":"12399f64.de7981","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"dosMed6","payloadType":"global","x":190,"y":2440,"wires":[["75094cd5.11f134"]]},{"id":"9c483df7.55737","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medFreq6","payloadType":"global","x":190,"y":2560,"wires":[["ec63c4c4.37dec8"]]},{"id":"ec63c4c4.37dec8","type":"ui_text","z":"2f0296ff.b8c79a","group":"f70dbdc1.19e9","order":4,"width":0,"height":0,"name":"","label":"Frequência (h):","format":"{{msg.payload}}","layout":"col-center","x":660,"y":2560,"wires":[]},{"id":"7e11821c.f6747c","type":"ui_text","z":"2f0296ff.b8c79a","group":"9a8a3f76.989e1","order":1,"width":0,"height":0,"name":"","label":"Nome:","format":"{{msg.payload | uppercase}}","layout":"col-center","x":630,"y":2680,"wires":[]},{"id":"b1f9e247.65e19","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medName7","payloadType":"global","x":190,"y":2680,"wires":[["7e11821c.f6747c"]]},{"id":"150475b6.c3dfea","type":"ui_text","z":"2f0296ff.b8c79a","group":"9a8a3f76.989e1","order":2,"width":0,"height":0,"name":"","label":"Data de início:","format":"{{msg.payload | date : 'dd/MM/yyyy'}}","layout":"col-center","x":660,"y":2720,"wires":[]},{"id":"d10bb6ec.1bdb08","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medStartDate7","payloadType":"global","x":200,"y":2720,"wires":[["150475b6.c3dfea"]]},{"id":"28a4d8e.094f728","type":"ui_text","z":"2f0296ff.b8c79a","group":"9a8a3f76.989e1","order":3,"width":0,"height":0,"name":"","label":"Hora de início: ","format":"{{msg.payload | date:'HH:mm'}}","layout":"col-center","x":660,"y":2760,"wires":[]},{"id":"489e6d36.f760b4","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medStartTime7","payloadType":"global","x":210,"y":2760,"wires":[["28a4d8e.094f728"]]},{"id":"92ddb3b2.008e7","type":"ui_text","z":"2f0296ff.b8c79a","group":"9a8a3f76.989e1","order":7,"width":0,"height":0,"name":"","label":"Último horário consumido:","format":"{{msg.payload}}","layout":"col-center","x":690,"y":2840,"wires":[]},{"id":"b964ecc6.95599","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"okmed7","payloadType":"global","x":180,"y":2840,"wires":[["a70cb3d3.b68e2"]]},{"id":"aa7f5f03.e1aba","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"nextmed7","payloadType":"global","x":190,"y":2880,"wires":[["ba9e4232.ed9c2"]]},{"id":"e37d83e0.e8f58","type":"ui_text","z":"2f0296ff.b8c79a","group":"9a8a3f76.989e1","order":8,"width":0,"height":0,"name":"","label":"Próximo horário:","format":"{{msg.payload}}","layout":"col-center","x":660,"y":2880,"wires":[]},{"id":"46df29b.d9a78d8","type":"ui_text","z":"2f0296ff.b8c79a","group":"9a8a3f76.989e1","order":5,"width":0,"height":0,"name":"","label":"Dosagem por horário:","format":"{{msg.payload}}","layout":"col-center","x":680,"y":2800,"wires":[]},{"id":"770d3320.c3566c","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"dosMed7","payloadType":"global","x":190,"y":2800,"wires":[["46df29b.d9a78d8"]]},{"id":"282f60b7.7701e","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medFreq7","payloadType":"global","x":190,"y":2920,"wires":[["59e97a0e.3c2284"]]},{"id":"59e97a0e.3c2284","type":"ui_text","z":"2f0296ff.b8c79a","group":"9a8a3f76.989e1","order":4,"width":0,"height":0,"name":"","label":"Frequência:","format":"{{msg.payload}}","layout":"col-center","x":650,"y":2920,"wires":[]},{"id":"6a878037.18bd7","type":"ui_form","z":"1b1ce8e2.cd3017","name":"","label":"Medicamento 1","group":"9cabde5c.717f7","order":1,"width":0,"height":0,"options":[{"label":"Nome do medicamento","value":"medName1","type":"text","required":false,"rows":null},{"label":"Data de início do tratamento","value":"medStartDate1","type":"date","required":false,"rows":null},{"label":"Hora de início do tratamento:","value":"medStartTime1","type":"time","required":false,"rows":null},{"label":"Frequência (em horas)","value":"medFreq1","type":"number","required":false,"rows":null},{"label":"Dosagem por horário","value":"dosMed1","type":"number","required":false,"rows":null},{"label":"Compartimento 1 do Meepi?","value":"medPlace1_1","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 2 do Meepi?","value":"medPlace1_2","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 3 do Meepi?","value":"medPlace1_3","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 4 do Meepi?","value":"medPlace1_4","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 5 do Meepi?","value":"medPlace1_5","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 6 do Meepi?","value":"medPlace1_6","type":"checkbox","required":false,"rows":null},{"label":"Compartimento 7 do Meepi?","value":"medPlace1_7","type":"checkbox","required":false,"rows":null}],"formValue":{"medName1":"","medStartDate1":"","medStartTime1":"","medFreq1":"","dosMed1":"","medPlace1_1":false,"medPlace1_2":false,"medPlace1_3":false,"medPlace1_4":false,"medPlace1_5":false,"medPlace1_6":false,"medPlace1_7":false},"payload":"","submit":"Enviar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","x":600,"y":160,"wires":[["76f1b272.d0d9ac","702c9c1a.d692c4","9da39be.092b268"]]},{"id":"1fbbd25a.8aa7be","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"medPlace1","payloadType":"global","x":190,"y":740,"wires":[["5c633b6c.36a664"]]},{"id":"2e6d3cb7.743b44","type":"ui_text","z":"2f0296ff.b8c79a","group":"90559693.85cfa8","order":0,"width":0,"height":0,"name":"","label":"Compartimentos:","format":"{{msg.payload}}","layout":"col-center","x":670,"y":740,"wires":[]},{"id":"c7c7f7ec.5a3bc8","type":"function","z":"2f0296ff.b8c79a","name":"Clear Arrays","func":"var medplace1 = global.set(\"medPlace1\", [0,0,0,0,0,0,0])\nvar medplace2 = global.set(\"medPlace2\", [0,0,0,0,0,0,0])\nvar medplace3 = global.set(\"medPlace3\", [0,0,0,0,0,0,0])\nvar medplace4 = global.set(\"medPlace4\", [0,0,0,0,0,0,0])\nvar medplace5 = global.set(\"medPlace5\", [0,0,0,0,0,0,0])\nvar medplace6 = global.set(\"medPlace6\", [0,0,0,0,0,0,0])\nvar medplace7 = global.set(\"medPlace7\", [0,0,0,0,0,0,0])\n\nvar meddate1 = global.set(\"medDate1\", [0,0,0])\nvar meddate2 = global.set(\"medDate2\", [0,0,0])\nvar meddate3 = global.set(\"medDate3\", [0,0,0])\nvar meddate4 = global.set(\"medDate4\", [0,0,0])\nvar meddate5 = global.set(\"medDate5\", [0,0,0])\nvar meddate6 = global.set(\"medDate6\", [0,0,0])\nvar meddate7 = global.set(\"medDate7\", [0,0,0])\n\nglobal.set(\"medTime1\", [0,0])\nglobal.set(\"medTime2\", [0,0])\nglobal.set(\"medTime3\", [0,0])\nglobal.set(\"medTime4\", [0,0])\nglobal.set(\"medTime5\", [0,0])\nglobal.set(\"medTime6\", [0,0])\nglobal.set(\"medTime7\", [0,0])\n\nvar nextmed1 = global.set(\"nextmed1\", [0,0,0,0,0])\nvar nextmed2 = global.set(\"nextmed2\", [0,0,0,0,0])\nvar nextmed3 = global.set(\"nextmed3\", [0,0,0,0,0])\nvar nextmed4 = global.set(\"nextmed4\", [0,0,0,0,0])\nvar nextmed5 = global.set(\"nextmed5\", [0,0,0,0,0])\nvar nextmed6 = global.set(\"nextmed6\", [0,0,0,0,0])\nvar nextmed7 = global.set(\"nextmed7\", [0,0,0,0,0])\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":260,"wires":[[]]},{"id":"5c633b6c.36a664","type":"function","z":"2f0296ff.b8c79a","name":"Check sections","func":"var medplace = msg.payload;\nvar nova_string = \"\";\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\nmsg.payload = nova_string;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":740,"wires":[["2e6d3cb7.743b44"]]},{"id":"4a7e33a4.6ae78c","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medPlace2","payloadType":"global","x":190,"y":1220,"wires":[["d3791f84.c64b4"]]},{"id":"5b4bc69b.523ec8","type":"ui_text","z":"2f0296ff.b8c79a","group":"7e158bed.eb3f54","order":0,"width":0,"height":0,"name":"","label":"Compartimentos:","format":"{{msg.payload}}","layout":"col-center","x":670,"y":1220,"wires":[]},{"id":"d3791f84.c64b4","type":"function","z":"2f0296ff.b8c79a","name":"Check sections","func":"var medplace = msg.payload;\nvar nova_string = \"\";\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\nmsg.payload = nova_string;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1220,"wires":[["5b4bc69b.523ec8"]]},{"id":"22a71556.0869aa","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"medPlace3","payloadType":"global","x":190,"y":1560,"wires":[["daff3550.50dd08"]]},{"id":"504df743.d6bce8","type":"ui_text","z":"2f0296ff.b8c79a","group":"21aa33a0.b3097c","order":0,"width":0,"height":0,"name":"","label":"Compartimentos:","format":"{{msg.payload}}","layout":"col-center","x":670,"y":1560,"wires":[]},{"id":"daff3550.50dd08","type":"function","z":"2f0296ff.b8c79a","name":"Check sections","func":"var medplace = msg.payload;\nvar nova_string = \"\";\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\nmsg.payload = nova_string;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1560,"wires":[["504df743.d6bce8"]]},{"id":"56f2d5b9.29b2ac","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"medPlace4","payloadType":"global","x":190,"y":1900,"wires":[["e6135f8.df68aa"]]},{"id":"a3657e5f.2e4bc","type":"ui_text","z":"2f0296ff.b8c79a","group":"c11bcb3d.879d68","order":0,"width":0,"height":0,"name":"","label":"Compartimentos:","format":"{{msg.payload}}","layout":"col-center","x":670,"y":1900,"wires":[]},{"id":"e6135f8.df68aa","type":"function","z":"2f0296ff.b8c79a","name":"Check sections","func":"var medplace = msg.payload;\nvar nova_string = \"\";\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\nmsg.payload = nova_string;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1900,"wires":[["a3657e5f.2e4bc"]]},{"id":"58b78dec.0e69f4","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"medPlace5","payloadType":"global","x":190,"y":2260,"wires":[["e29d894f.b2b3a8"]]},{"id":"1de08e97.4e5b51","type":"ui_text","z":"2f0296ff.b8c79a","group":"d69e066c.887f38","order":0,"width":0,"height":0,"name":"","label":"Compartimentos:","format":"{{msg.payload}}","layout":"col-center","x":670,"y":2260,"wires":[]},{"id":"e29d894f.b2b3a8","type":"function","z":"2f0296ff.b8c79a","name":"Check sections","func":"var medplace = msg.payload;\nvar nova_string = \"\";\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\nmsg.payload = nova_string;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":2260,"wires":[["1de08e97.4e5b51"]]},{"id":"ccbebe8.605b84","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"medPlace6","payloadType":"global","x":190,"y":2600,"wires":[["b3eeed48.6d8e8"]]},{"id":"1b35b3eb.ac171c","type":"ui_text","z":"2f0296ff.b8c79a","group":"f70dbdc1.19e9","order":0,"width":0,"height":0,"name":"","label":"Compartimentos:","format":"{{msg.payload}}","layout":"col-center","x":670,"y":2600,"wires":[]},{"id":"b3eeed48.6d8e8","type":"function","z":"2f0296ff.b8c79a","name":"Check sections","func":"var medplace = msg.payload;\nvar nova_string = \"\";\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\nmsg.payload = nova_string;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":2600,"wires":[["1b35b3eb.ac171c"]]},{"id":"15be777b.b53cb9","type":"inject","z":"2f0296ff.b8c79a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"medPlace7","payloadType":"global","x":190,"y":2960,"wires":[["2b52281d.accb88"]]},{"id":"3080432e.70941c","type":"ui_text","z":"2f0296ff.b8c79a","group":"9a8a3f76.989e1","order":0,"width":0,"height":0,"name":"","label":"Compartimentos:","format":"{{msg.payload}}","layout":"col-center","x":670,"y":2960,"wires":[]},{"id":"2b52281d.accb88","type":"function","z":"2f0296ff.b8c79a","name":"Check sections","func":"var medplace = msg.payload;\nvar nova_string = \"\";\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\nmsg.payload = nova_string;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":2960,"wires":[["3080432e.70941c"]]},{"id":"d5ed539c.a87d4","type":"comment","z":"2f0296ff.b8c79a","name":"Med 1","info":"","x":130,"y":420,"wires":[]},{"id":"9a83b141.bdf38","type":"function","z":"208548bd.e6d988","name":"","func":"timenow = global.get(\"nextmed1\")\nvar medtime1 = global.get(\"medTime1\")\nvar meddate1 = global.get(\"medDate1\")\n\n//[ano mes dia hora minuto]\n\nmeddate1[0] = timenow[0];\nmeddate1[1] = timenow[1];\nmeddate1[2] = timenow[2];\n\nmedtime1[0] = timenow[3];\nmedtime1[1] = timenow[4];\n\nglobal.set(\"medDate1\", meddate1);\nglobal.set(\"medTime1\", medtime1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":460,"wires":[["c3ec0335.5cb17"]]},{"id":"c3ec0335.5cb17","type":"debug","z":"208548bd.e6d988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":460,"wires":[]},{"id":"eba75765.a5ebc8","type":"function","z":"208548bd.e6d988","d":true,"name":"GENERATES JSON OLD","func":"var medtime1 = global.get(\"medStartTime1\")\nvar meddate1 = global.get(\"medStartDate1\")\nvar medplace1 = global.get(\"medPlace1\")\n\nvar medtime2 = global.get(\"medStartTime2\")\nvar meddate2 = global.get(\"medStartDate2\")\nvar medplace2 = global.get(\"medPlace2\")\n\nvar medtime3 = global.get(\"medStartTime3\")\nvar meddate3 = global.get(\"medStartDate3\")\nvar medplace3 = global.get(\"medPlace3\")\n\nvar medtime4 = global.get(\"medStartTime4\")\nvar meddate4 = global.get(\"medStartDate4\")\nvar medplace4 = global.get(\"medPlace4\")\n\nvar medtime5 = global.get(\"medStartTime5\")\nvar meddate5 = global.get(\"medStartDate5\")\nvar medplace5 = global.get(\"medPlace5\")\n\nvar medtime6 = global.get(\"medStartTime6\")\nvar meddate6 = global.get(\"medStartDate6\")\nvar medplace6 = global.get(\"medPlace6\")\n\nvar medtime7 = global.get(\"medStartTime7\")\nvar meddate7 = global.get(\"medStartDate7\")\nvar medplace7 = global.get(\"medPlace7\")\n\n\nif(meddate1 == undefined || meddate1 == null){\n    meddate1 = \"0\";\n}\n\nif(meddate2 == undefined || meddate2 == null){\n    meddate2 = \"0\";\n}\n\nif(meddate3 == undefined || meddate3 == null){\n    meddate3 = \"0\";\n}\n\nif(meddate4 == undefined || meddate4 == null){\n    meddate4 = \"0\";\n}\n\nif(meddate5 == undefined || meddate5 == null){\n    meddate5 = \"0\";\n}\n\nif(meddate6 == undefined || meddate6 == null){\n    meddate6 = \"0\";\n}\n\nif(meddate7 == undefined || meddate7 == null){\n    meddate7 = \"0\";\n}\n\nif(medtime1 == undefined || medtime1 == null){\n    medtime1 = \"0\";\n}\n\nif(medtime2 == undefined || medtime2 == null){\n    medtime2 = \"0\";\n}\n\nif(medtime3 == undefined || medtime3 == null){\n    medtime3 = \"0\";\n}\n\nif(medtime4 == undefined || medtime4 == null){\n    medtime4 = \"0\";\n}\n\nif(medtime5 == undefined || medtime5 == null){\n    medtime5 = \"0\";\n}\n\nif(medtime6 == undefined || medtime6 == null){\n    medtime6 = \"0\";\n}\n\nif(medtime7 == undefined || medtime7 == null){\n    medtime7 = \"0\";\n}\n\nmsg.payload = {\n    \"medStartDate1\": meddate1,\n    \"medStartTime1\": medtime1,\n    \"medFreq1\": global.get(\"medFreq1\"),\n    \"medPlace1\":medplace1,\n    \"medStartDate2\": meddate2,\n    \"medStartTime2\": medtime2,\n    \"medFreq2\": global.get(\"medFreq2\"),\n    \"medPlace2\":medplace1,\n    \"medStartDate3\": meddate3,\n    \"medStartTime3\": medtime3,\n    \"medFreq3\": global.get(\"medFreq3\"),\n    \"medPlace3\":medplace3,\n    \"medStartDate4\": meddate4,\n    \"medStartTime4\": medtime4,\n    \"medFreq4\": global.get(\"medFreq4\"),\n    \"medPlace4\":medplace4,\n    \"medStartDate5\": meddate5,\n    \"medStartTime5\": medtime5,\n    \"medFreq5\": global.get(\"medFreq5\"),\n    \"medPlace5\":medplace5,\n    \"medStartDate6\": meddate6,\n    \"medStartTime6\": medtime6,\n    \"medFreq6\": global.get(\"medFreq6\"),\n    \"medPlace6\":medplace6,\n    \"medStartDate7\": meddate7,\n    \"medStartTime7\": medtime7,\n    \"medFreq7\": global.get(\"medFreq7\"),\n    \"medPlace7\":medplace7,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2150,"y":2760,"wires":[[]]},{"id":"12e2be76.4119b2","type":"function","z":"208548bd.e6d988","name":"","func":"timenow = global.get(\"nextmed2\")\nvar medtime1 = global.get(\"medTime2\")\nvar meddate1 = global.get(\"medDate2\")\n\n//[ano mes dia hora minuto]\n\nmeddate1[0] = timenow[0];\nmeddate1[1] = timenow[1];\nmeddate1[2] = timenow[2];\n\nmedtime1[0] = timenow[3];\nmedtime1[1] = timenow[4];\n\nglobal.set(\"medDate2\", meddate1);\nglobal.set(\"medTime2\", medtime1);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":500,"wires":[["c3ec0335.5cb17"]]},{"id":"c570d878.a52ab8","type":"function","z":"208548bd.e6d988","name":"","func":"timenow = global.get(\"nextmed3\")\nvar medtime1 = global.get(\"medTime3\")\nvar meddate1 = global.get(\"medDate3\")\n\n//[ano mes dia hora minuto]\n\nmeddate1[0] = timenow[0];\nmeddate1[1] = timenow[1];\nmeddate1[2] = timenow[2];\n\nmedtime1[0] = timenow[3];\nmedtime1[1] = timenow[4];\n\nglobal.set(\"medDate3\", meddate1);\nglobal.set(\"medTime3\", medtime1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":540,"wires":[["c3ec0335.5cb17"]]},{"id":"fce8d856.f8c268","type":"function","z":"208548bd.e6d988","name":"","func":"timenow = global.get(\"nextmed4\")\nvar medtime1 = global.get(\"medTime4\")\nvar meddate1 = global.get(\"medDate4\")\n\n//[ano mes dia hora minuto]\n\nmeddate1[0] = timenow[0];\nmeddate1[1] = timenow[1];\nmeddate1[2] = timenow[2];\n\nmedtime1[0] = timenow[3];\nmedtime1[1] = timenow[4];\n\nglobal.set(\"medDate4\", meddate1);\nglobal.set(\"medTime4\", medtime1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["c3ec0335.5cb17"]]},{"id":"51e9a8d1.917e68","type":"function","z":"208548bd.e6d988","name":"","func":"timenow = global.get(\"nextmed5\")\nvar medtime1 = global.get(\"medTime5\")\nvar meddate1 = global.get(\"medDate5\")\n\n//[ano mes dia hora minuto]\n\nmeddate1[0] = timenow[0];\nmeddate1[1] = timenow[1];\nmeddate1[2] = timenow[2];\n\nmedtime1[0] = timenow[3];\nmedtime1[1] = timenow[4];\n\nglobal.set(\"medDate5\", meddate1);\nglobal.set(\"medTime5\", medtime1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":620,"wires":[["c3ec0335.5cb17"]]},{"id":"a1ebf61a.33b418","type":"function","z":"208548bd.e6d988","name":"","func":"timenow = global.get(\"nextmed7\")\nvar medtime1 = global.get(\"medTime7\")\nvar meddate1 = global.get(\"medDate7\")\n\n//[ano mes dia hora minuto]\n\nmeddate1[0] = timenow[0];\nmeddate1[1] = timenow[1];\nmeddate1[2] = timenow[2];\n\nmedtime1[0] = timenow[3];\nmedtime1[1] = timenow[4];\n\nglobal.set(\"medDate7\", meddate1);\nglobal.set(\"medTime7\", medtime1);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":660,"wires":[["c3ec0335.5cb17"]]},{"id":"e9694432.ed5c58","type":"function","z":"2f0296ff.b8c79a","name":"Next med string formation","func":"string = msg.payload;\n\nif(string[0]==0 || string==undefined){\n    var message = \"Aguardando o horário\"\n    msg.payload = message;\n    return msg;\n\n}else{\n  var dashboard =string[2]+\"/\"+string[1]+\"/\"+string[0]+\" \"+string[3]+\":\"+string[4];\n  msg.payload = dashboard;\n  return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":660,"wires":[["53d97467.442d6c"]]},{"id":"4d34980c.1ee818","type":"function","z":"2f0296ff.b8c79a","name":"Ok med formation","func":"var ok = msg.payload\nif(ok==\"\"|| ok == undefined){\n    msg.payload = \"Aguardando horário\"\n    return msg;\n}else{\n    msg.payload = ok;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":620,"wires":[["4c67076d.eee448"]]},{"id":"e4177080.b1e59","type":"function","z":"2f0296ff.b8c79a","name":"Ok med formation","func":"var ok = msg.payload\nif(ok==\"\"|| ok == undefined){\n    msg.payload = \"Aguardando horário\"\n    return msg;\n}else{\n    msg.payload = ok;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1100,"wires":[["972a24c3.46b848"]]},{"id":"bb13ea24.a59818","type":"function","z":"2f0296ff.b8c79a","name":"Next med string formation","func":"string = msg.payload;\n\nif(string[0]==0 || string==undefined){\n    var message = \"Aguardando o horário\"\n    msg.payload = message;\n    return msg;\n\n}else{\n  var dashboard =string[2]+\"/\"+string[1]+\"/\"+string[0]+\" \"+string[3]+\":\"+string[4];\n  msg.payload = dashboard;\n  return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1140,"wires":[["b9b710ea.6a941"]]},{"id":"35e122d6.954e8e","type":"function","z":"2f0296ff.b8c79a","name":"Next med string formation","func":"string = msg.payload;\n\nif(string[0]==0 || string==undefined){\n    var message = \"Aguardando o horário\"\n    msg.payload = message;\n    return msg;\n\n}else{\n  var dashboard =string[2]+\"/\"+string[1]+\"/\"+string[0]+\" \"+string[3]+\":\"+string[4];\n  msg.payload = dashboard;\n  return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1480,"wires":[["90b80e8.84122f"]]},{"id":"3e944b61.8ef574","type":"function","z":"2f0296ff.b8c79a","name":"Ok med formation","func":"var ok = msg.payload\nif(ok==\"\"|| ok == undefined){\n    msg.payload = \"Aguardando horário\";\n    return msg;\n}else{\n    msg.payload = ok;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1440,"wires":[[]]},{"id":"23b93652.74fb6a","type":"function","z":"2f0296ff.b8c79a","name":"Ok med formation","func":"var ok = msg.payload\nif(ok==\"\"|| ok == undefined){\n    msg.payload = \"Aguardando horário\"\n    return msg;\n}else{\n    msg.payload = ok;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1780,"wires":[["a56f9e9.92e1d6"]]},{"id":"158b2012.371c5","type":"function","z":"2f0296ff.b8c79a","name":"Next med string formation","func":"string = msg.payload;\n\nif(string[0]==0 || string==undefined){\n    var message = \"Aguardando o horário\"\n    msg.payload = message;\n    return msg;\n\n}else{\n  var dashboard =string[2]+\"/\"+string[1]+\"/\"+string[0]+\" \"+string[3]+\":\"+string[4];\n  msg.payload = dashboard;\n  return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1820,"wires":[["b1564425.0ea258"]]},{"id":"f891f79d.4f6388","type":"function","z":"2f0296ff.b8c79a","name":"Next med string formation","func":"string = msg.payload;\n\nif(string[0]==0 || string==undefined){\n    var message = \"Aguardando o horário\"\n    msg.payload = message;\n    return msg;\n\n}else{\n  var dashboard =string[2]+\"/\"+string[1]+\"/\"+string[0]+\" \"+string[3]+\":\"+string[4];\n  msg.payload = dashboard;\n  return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":2180,"wires":[["ddc93c0b.2e856"]]},{"id":"5b5bf96d.2754a8","type":"function","z":"2f0296ff.b8c79a","name":"Next med string formation","func":"string = msg.payload;\n\nif(string[0]==0 || string==undefined){\n    var message = \"Aguardando o horário\"\n    msg.payload = message;\n    return msg;\n\n}else{\n  var dashboard =string[2]+\"/\"+string[1]+\"/\"+string[0]+\" \"+string[3]+\":\"+string[4];\n  msg.payload = dashboard;\n  return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":2520,"wires":[["d6c8dbdf.ef1908"]]},{"id":"ba9e4232.ed9c2","type":"function","z":"2f0296ff.b8c79a","name":"Next med string formation","func":"string = msg.payload;\n\nif(string[0]==0 || string==undefined){\n    var message = \"Aguardando o horário\"\n    msg.payload = message;\n    return msg;\n\n}else{\n  var dashboard =string[2]+\"/\"+string[1]+\"/\"+string[0]+\" \"+string[3]+\":\"+string[4];\n  msg.payload = dashboard;\n  return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":2880,"wires":[["e37d83e0.e8f58"]]},{"id":"f775e22d.68dd9","type":"function","z":"2f0296ff.b8c79a","name":"Ok med formation","func":"var ok = msg.payload\nif(ok==\"\"|| ok == undefined){\n    msg.payload = \"Aguardando horário\"\n    return msg;\n}else{\n    msg.payload = ok;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":2140,"wires":[["bc6d6dc6.3a505"]]},{"id":"b9d7bbe8.bea2b8","type":"function","z":"2f0296ff.b8c79a","name":"Ok med formation","func":"var ok = msg.payload\nif(ok==\"\"|| ok == undefined){\n    msg.payload = \"Aguardando horário\"\n    return msg;\n}else{\n    msg.payload = ok;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":2480,"wires":[["d7d31663.f4cd28"]]},{"id":"a70cb3d3.b68e2","type":"function","z":"2f0296ff.b8c79a","name":"Ok med formation","func":"var ok = msg.payload\nif(ok==\"\" || ok == undefined){\n    msg.payload = \"Aguardando horário\"\n    return msg;\n}else{\n    msg.payload = ok;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":2840,"wires":[["92ddb3b2.008e7"]]},{"id":"5ba2be8b.97d12","type":"telegram command","z":"208548bd.e6d988","name":"","command":"/start","bot":"a7c1e2c4.4b2bd","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":110,"y":860,"wires":[["4cf0e067.d86fd","ead57fe5.a7267"],[]]},{"id":"d98b564a.70bf48","type":"function","z":"208548bd.e6d988","name":"","func":"msg.payload.type = \"message\";\nmsg.payload.content = \"Oii. Tudo bem? Eu sou o Meepi. Estarei te lembrando de tomar seus remédios. Quando for a hora, você receberá uma mensagem por aqui :)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":860,"wires":[["5b8e710.1ce4e9","60917f79.e4aec"]]},{"id":"5b8e710.1ce4e9","type":"debug","z":"208548bd.e6d988","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":780,"wires":[]},{"id":"60917f79.e4aec","type":"telegram sender","z":"208548bd.e6d988","name":"","bot":"a7c1e2c4.4b2bd","haserroroutput":false,"outputs":1,"x":710,"y":860,"wires":[["d9e99579.a69568"]]},{"id":"d9e99579.a69568","type":"function","z":"208548bd.e6d988","name":"","func":"var name = global.get(\"userName\");\nvar message = \"Para começar a usar seu Meepi, essas são as etapas:\"\nmessage+= \"\\r\\n1 - Coloque os remédios na caixa;\"\nmessage+= \"\\r\\n2 - Cadastre no nosso site (meepi.mybluemix.net/ui/) conforme organizado no Meepi;\"\nmessage+= \"\\r\\n3 - Com seu Meepi ligado, clique no botão da caixa para sincronizar.\"\nmessage+= \"\\r\\n\"\nmessage+= \"\\r\\nCom essas etapas sua caixa estará prontinha para te alertar nos horários do medicamento. Te avisarei por aqui também quando for a hora\"\nmessage+= \"\\r\\n\"\n\nmsg.payload.type = \"message\";\nmsg.payload.content = message;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":940,"wires":[["24cc393c.445326"]]},{"id":"24cc393c.445326","type":"telegram sender","z":"208548bd.e6d988","name":"","bot":"a7c1e2c4.4b2bd","haserroroutput":false,"outputs":1,"x":630,"y":940,"wires":[["23706520.b2f49a"]]},{"id":"3d275380.c7db5c","type":"function","z":"208548bd.e6d988","name":"","func":"var opts = {\n  reply_markup: JSON.stringify({\n    \"keyboard\": [[\n                {\n                    \"text\": \"Sim\",\n                    \"callback_data\": \"1\"            \n                }, \n                {\n                    \"text\": \"Não\",\n                    \"callback_data\": \"2\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = \"Você já fez todas as etapas acima?\";\nmsg.payload.options = opts;\n//msg.payload.chatId = 811666605;\nmsg.payload.messageId = 99;\nmsg.payload.sentMessageId = 99;\nmsg.payload.type = \"message\";\n\nreturn [ msg ];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":1060,"wires":[["47a0d2bd.4fc91c"]]},{"id":"47a0d2bd.4fc91c","type":"telegram sender","z":"208548bd.e6d988","name":"","bot":"a7c1e2c4.4b2bd","haserroroutput":false,"outputs":1,"x":630,"y":1060,"wires":[[]]},{"id":"608a0834.badea8","type":"telegram sender","z":"208548bd.e6d988","name":"","bot":"a7c1e2c4.4b2bd","haserroroutput":false,"outputs":1,"x":830,"y":1160,"wires":[[]]},{"id":"cc1109d6.ab7098","type":"telegram receiver","z":"208548bd.e6d988","name":"","bot":"a7c1e2c4.4b2bd","saveDataDir":"","filterCommands":false,"x":150,"y":1140,"wires":[["1038b9ff.a30c56"],[]]},{"id":"23706520.b2f49a","type":"delay","z":"208548bd.e6d988","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":1000,"wires":[["3d275380.c7db5c"]]},{"id":"1038b9ff.a30c56","type":"switch","z":"208548bd.e6d988","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Sim","vt":"str"},{"t":"eq","v":"Não","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":1140,"wires":[["2b39d231.b6f50e"],["41cea8f6.5deeb8"]]},{"id":"2b39d231.b6f50e","type":"function","z":"208548bd.e6d988","name":"","func":"msg.payload.type = \"message\";\nmsg.payload.content = \"Maravilha! Então, agora é só aguardar. Não se preocupa que avisarei você por aqui também.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1140,"wires":[["608a0834.badea8"]]},{"id":"41cea8f6.5deeb8","type":"function","z":"208548bd.e6d988","name":"","func":"msg.payload.type = \"message\";\nmsg.payload.content = \"Pois não deixe de configurar seu Meepi! Depois disso feito, eu te avisarei os horários aqui também :)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1180,"wires":[["608a0834.badea8"]]},{"id":"7efb8db.29ff274","type":"inject","z":"208548bd.e6d988","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":2140,"wires":[["6ff1a254.31312c"]]},{"id":"6ff1a254.31312c","type":"function","z":"208548bd.e6d988","name":"","func":"var name = global.get(\"userName\");\n\nmsg.payload= {\n    content : \"Oii, \"+ name +\". Estou passando para te lembrar de reabastecer a caixinha, se for preciso :)\",\n    type : \"message\",\n    chatId : 811666605\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":2140,"wires":[["a01e1b90.604bf8"]]},{"id":"a01e1b90.604bf8","type":"telegram sender","z":"208548bd.e6d988","name":"","bot":"a7c1e2c4.4b2bd","haserroroutput":false,"outputs":1,"x":570,"y":2140,"wires":[[]]},{"id":"c1f87e1c.6d478","type":"comment","z":"208548bd.e6d988","name":"Lembrar de recarregar a caixa","info":"","x":180,"y":2080,"wires":[]},{"id":"4e659c5f.b92c84","type":"inject","z":"208548bd.e6d988","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":150,"y":1260,"wires":[["c13e589d.86bba8"]]},{"id":"590eabad.514334","type":"function","z":"208548bd.e6d988","name":"MED1","func":"timenow = msg.payload;\nvar timesplit1 = timenow.split(\"T\")\nvar timesplit2 = timesplit1[1].split(\":\")\ntimesplit2.splice(2) \n\nfor (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n}\n\nvar datesplit1 = timenow.split(\"T\")\nvar datesplit2 = datesplit1[0].split(\"-\")\nfor (var j=0; j<3; j++){\n    datesplit2[j] = parseInt(datesplit2[j], 10)\n}\n\n//fulltime [ano mes dia hora minuto]\nfulltime = datesplit2.concat(timesplit2)\n\nvar medtime = global.get(\"medTime1\")\nvar meddate = global.get(\"medDate1\")\n\nvar medname = global.get(\"medName1\")\nvar meddos = global.get(\"dosMed1\")\nvar medplace = global.get(\"medPlace1\")\nvar username = global.get(\"userName\")\n\nvar nova_string = \"\"\n\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\n\nif(meddate[2]==fulltime[2] && meddate[1]==fulltime[1]){\n    if(fulltime[3]==medtime[0] && fulltime[4]==medtime[1]){\n        var message = \"Olá, \" + username +\",\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nChegou a hora de tomar seu medicamento chamado: \"+medname\n        message+= \"\\r\\nLembrando que a quantidade que você deve tomar é de: \"+meddos\n        message+= \"\\r\\nE seu medicamento de agora está localizado no(s) compartimento(s): \"+nova_string\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nNão deixe para depois, tome seu(s) remédio(s) agora mesmo. Não se esqueça de apertar no botão <<ok>> antes de tomar qualquer remédio e depois de tomar todos os seus medicamentos deste horário\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nPara verificar os status dos medicamentos, cadastrar ou recadastrar, acesse: meepi.mybluemix.net/ui/\"\n        message+= \"\\r\\n\"\n        \n        msg.payload = {\n            chatId : 811666605,\n            type : \"message\",\n            content : message\n        };\n        \n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1240,"wires":[["bb117046.888d8"]]},{"id":"bb117046.888d8","type":"telegram sender","z":"208548bd.e6d988","name":"","bot":"a7c1e2c4.4b2bd","haserroroutput":false,"outputs":1,"x":830,"y":1260,"wires":[[]]},{"id":"39f211b8.a184de","type":"function","z":"208548bd.e6d988","name":"MED2","func":"timenow = msg.payload;\nvar timesplit1 = timenow.split(\"T\")\nvar timesplit2 = timesplit1[1].split(\":\")\ntimesplit2.splice(2) \n\nfor (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n}\n\nvar datesplit1 = timenow.split(\"T\")\nvar datesplit2 = datesplit1[0].split(\"-\")\nfor (var j=0; j<3; j++){\n    datesplit2[j] = parseInt(datesplit2[j], 10)\n}\n\n//fulltime [ano mes dia hora minuto]\nfulltime = datesplit2.concat(timesplit2)\n\nvar medtime = global.get(\"medTime2\")\nvar meddate = global.get(\"medDate2\")\n\nvar medname = global.get(\"medName2\")\nvar meddos = global.get(\"dosMed2\")\nvar medplace = global.get(\"medPlace2\")\nvar username = global.get(\"userName\")\n\nvar nova_string = \"\"\n\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\n\nif(meddate[2]==fulltime[2] && meddate[1]==fulltime[1]){\n    if(fulltime[3]==medtime[0] && fulltime[4]==medtime[1]){\n        var message = \"Olá, \" + username +\",\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nChegou a hora de tomar seu medicamento chamado: \"+medname\n        message+= \"\\r\\nLembrando que a quantidade que você deve tomar é de: \"+meddos\n        message+= \"\\r\\nE seu medicamento de agora está localizado no(s) compartimento(s): \"+nova_string\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nNão deixe para depois, tome seu(s) remédio(s) agora mesmo. Não se esqueça de apertar no botão <<ok>> antes de tomar qualquer remédio e depois de tomar todos os seus medicamentos deste horário\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nPara verificar os status dos medicamentos, cadastrar ou recadastrar, acesse: meepi.mybluemix.net/ui/\"\n        message+= \"\\r\\n\"\n        msg.payload = {\n            chatId : 811666605,\n            type : \"message\",\n            content : message\n        };\n        \n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1280,"wires":[["bb117046.888d8"]]},{"id":"12e93521.01421b","type":"function","z":"208548bd.e6d988","name":"MED3","func":"timenow = msg.payload;\nvar timesplit1 = timenow.split(\"T\")\nvar timesplit2 = timesplit1[1].split(\":\")\ntimesplit2.splice(2) \n\nfor (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n}\n\nvar datesplit1 = timenow.split(\"T\")\nvar datesplit2 = datesplit1[0].split(\"-\")\nfor (var j=0; j<3; j++){\n    datesplit2[j] = parseInt(datesplit2[j], 10)\n}\n\n//fulltime [ano mes dia hora minuto]\nfulltime = datesplit2.concat(timesplit2)\n\nvar medtime = global.get(\"medTime3\")\nvar meddate = global.get(\"medDate3\")\n\nvar medname = global.get(\"medName3\")\nvar meddos = global.get(\"dosMed3\")\nvar medplace = global.get(\"medPlace3\")\nvar username = global.get(\"userName\")\n\nvar nova_string = \"\"\n\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\n\nif(meddate[2]==fulltime[2] && meddate[1]==fulltime[1]){\n    if(fulltime[3]==medtime[0] && fulltime[4]==medtime[1]){\n        var message = \"Olá, \" + username +\",\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nChegou a hora de tomar seu medicamento chamado: \"+medname\n        message+= \"\\r\\nLembrando que a quantidade que você deve tomar é de: \"+meddos\n        message+= \"\\r\\nE seu medicamento de agora está localizado no(s) compartimento(s): \"+nova_string\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nNão deixe para depois, tome seu(s) remédio(s) agora mesmo. Não se esqueça de apertar no botão <<ok>> antes de tomar qualquer remédio e depois de tomar todos os seus medicamentos deste horário\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nPara verificar os status dos medicamentos, cadastrar ou recadastrar, acesse: meepi.mybluemix.net/ui/\"\n        message+= \"\\r\\n\"\n        \n        msg.payload = {\n            chatId : 811666605,\n            type : \"message\",\n            content : message\n        };\n        \n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1320,"wires":[["bb117046.888d8"]]},{"id":"42febed4.8820d","type":"function","z":"208548bd.e6d988","name":"MED4","func":"timenow = msg.payload;\nvar timesplit1 = timenow.split(\"T\")\nvar timesplit2 = timesplit1[1].split(\":\")\ntimesplit2.splice(2) \n\nfor (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n}\n\nvar datesplit1 = timenow.split(\"T\")\nvar datesplit2 = datesplit1[0].split(\"-\")\nfor (var j=0; j<3; j++){\n    datesplit2[j] = parseInt(datesplit2[j], 10)\n}\n\n//fulltime [ano mes dia hora minuto]\nfulltime = datesplit2.concat(timesplit2)\n\nvar medtime = global.get(\"medTime4\")\nvar meddate = global.get(\"medDate4\")\n\nvar medname = global.get(\"medName4\")\nvar meddos = global.get(\"dosMed4\")\nvar medplace = global.get(\"medPlace4\")\nvar username = global.get(\"userName\")\n\nvar nova_string = \"\"\n\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\n\nif(meddate[2]==fulltime[2] && meddate[1]==fulltime[1]){\n    if(fulltime[3]==medtime[0] && fulltime[4]==medtime[1]){\n        var message = \"Olá, \" + username +\",\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nChegou a hora de tomar seu medicamento chamado: \"+medname\n        message+= \"\\r\\nLembrando que a quantidade que você deve tomar é de: \"+meddos\n        message+= \"\\r\\nE seu medicamento de agora está localizado no(s) compartimento(s): \"+nova_string\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nNão deixe para depois, tome seu(s) remédio(s) agora mesmo. Não se esqueça de apertar no botão <<ok>> antes de tomar qualquer remédio e depois de tomar todos os seus medicamentos deste horário\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nPara verificar os status dos medicamentos, cadastrar ou recadastrar, acesse: meepi.mybluemix.net/ui/\"\n        message+= \"\\r\\n\"\n        \n        msg.payload = {\n            chatId : 811666605,\n            type : \"message\",\n            content : message\n        };\n        \n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1360,"wires":[["bb117046.888d8"]]},{"id":"6efd147e.66720c","type":"function","z":"208548bd.e6d988","name":"MED5","func":"timenow = msg.payload;\nvar timesplit1 = timenow.split(\"T\")\nvar timesplit2 = timesplit1[1].split(\":\")\ntimesplit2.splice(2) \n\nfor (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n}\n\nvar datesplit1 = timenow.split(\"T\")\nvar datesplit2 = datesplit1[0].split(\"-\")\nfor (var j=0; j<3; j++){\n    datesplit2[j] = parseInt(datesplit2[j], 10)\n}\n\n//fulltime [ano mes dia hora minuto]\nfulltime = datesplit2.concat(timesplit2)\n\nvar medtime = global.get(\"medTime5\")\nvar meddate = global.get(\"medDate5\")\n\nvar medname = global.get(\"medName5\")\nvar meddos = global.get(\"dosMed5\")\nvar medplace = global.get(\"medPlace5\")\nvar username = global.get(\"userName\")\n\nvar nova_string = \"\"\n\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\n\nif(meddate[2]==fulltime[2] && meddate[1]==fulltime[1]){\n    if(fulltime[3]==medtime[0] && fulltime[4]==medtime[1]){\n        var message = \"Olá, \" + username +\",\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nChegou a hora de tomar seu medicamento chamado: \"+medname\n        message+= \"\\r\\nLembrando que a quantidade que você deve tomar é de: \"+meddos\n        message+= \"\\r\\nE seu medicamento de agora está localizado no(s) compartimento(s): \"+nova_string\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nNão deixe para depois, tome seu(s) remédio(s) agora mesmo. Não se esqueça de apertar no botão <<ok>> antes de tomar qualquer remédio e depois de tomar todos os seus medicamentos deste horário\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nPara verificar os status dos medicamentos, cadastrar ou recadastrar, acesse: meepi.mybluemix.net/ui/\"\n        message+= \"\\r\\n\"\n        \n        msg.payload = {\n            chatId : 811666605,\n            type : \"message\",\n            content : message\n        };\n        \n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1400,"wires":[["bb117046.888d8"]]},{"id":"922dcb7c.cac1c8","type":"function","z":"208548bd.e6d988","name":"MED6","func":"timenow = msg.payload;\nvar timesplit1 = timenow.split(\"T\")\nvar timesplit2 = timesplit1[1].split(\":\")\ntimesplit2.splice(2) \n\nfor (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n}\n\nvar datesplit1 = timenow.split(\"T\")\nvar datesplit2 = datesplit1[0].split(\"-\")\nfor (var j=0; j<3; j++){\n    datesplit2[j] = parseInt(datesplit2[j], 10)\n}\n\n//fulltime [ano mes dia hora minuto]\nfulltime = datesplit2.concat(timesplit2)\n\nvar medtime = global.get(\"medTime6\")\nvar meddate = global.get(\"medDate6\")\n\nvar medname = global.get(\"medName6\")\nvar meddos = global.get(\"dosMed6\")\nvar medplace = global.get(\"medPlace6\")\nvar username = global.get(\"userName\")\n\nvar nova_string = \"\"\n\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\n\nif(meddate[2]==fulltime[2] && meddate[1]==fulltime[1]){\n    if(fulltime[3]==medtime[0] && fulltime[4]==medtime[1]){\n        var message = \"Olá, \" + username +\",\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nChegou a hora de tomar seu medicamento chamado: \"+medname\n        message+= \"\\r\\nLembrando que a quantidade que você deve tomar é de: \"+meddos\n        message+= \"\\r\\nE seu medicamento de agora está localizado no(s) compartimento(s): \"+nova_string\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nNão deixe para depois, tome seu(s) remédio(s) agora mesmo. Não se esqueça de apertar no botão <<ok>> antes de tomar qualquer remédio e depois de tomar todos os seus medicamentos deste horário\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nPara verificar os status dos medicamentos, cadastrar ou recadastrar, acesse: meepi.mybluemix.net/ui/\"\n        message+= \"\\r\\n\"\n        \n        msg.payload = {\n            chatId : 811666605,\n            type : \"message\",\n            content : message\n        };\n        \n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1440,"wires":[["bb117046.888d8"]]},{"id":"69550b2b.a1ffb4","type":"function","z":"208548bd.e6d988","name":"MED7","func":"timenow = msg.payload;\nvar timesplit1 = timenow.split(\"T\")\nvar timesplit2 = timesplit1[1].split(\":\")\ntimesplit2.splice(2) \n\nfor (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n}\n\nvar datesplit1 = timenow.split(\"T\")\nvar datesplit2 = datesplit1[0].split(\"-\")\nfor (var j=0; j<3; j++){\n    datesplit2[j] = parseInt(datesplit2[j], 10)\n}\n\n//fulltime [ano mes dia hora minuto]\nfulltime = datesplit2.concat(timesplit2)\n\nvar medtime = global.get(\"medTime6\")\nvar meddate = global.get(\"medDate6\")\n\nvar medname = global.get(\"medName6\")\nvar meddos = global.get(\"dosMed6\")\nvar medplace = global.get(\"medPlace6\")\nvar username = global.get(\"userName\")\n\nvar nova_string = \"\"\n\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\n\nif(meddate[2]==fulltime[2] && meddate[1]==fulltime[1]){\n    if(fulltime[3]==medtime[0] && fulltime[4]==medtime[1]){\n        var message = \"Olá, \" + username +\",\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nChegou a hora de tomar seu medicamento chamado: \"+medname\n        message+= \"\\r\\nLembrando que a quantidade que você deve tomar é de: \"+meddos\n        message+= \"\\r\\nE seu medicamento de agora está localizado no(s) compartimento(s): \"+nova_string\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nNão deixe para depois, tome seu remédio agora mesmo. Não se esqueça de apertar no botão <<ok>> antes de tomar qualquer remédio e depois de tomar todos os seu medicamento\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nPara verificar os status dos medicamentos, cadastrar ou recadastrar, acesse: meepi.mybluemix.net/ui/\"\n        message+= \"\\r\\n\"\n        \n        msg.payload = {\n            chatId : 811666605,\n            type : \"message\",\n            content : message\n        };\n        \n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1480,"wires":[["bb117046.888d8"]]},{"id":"4ddb7d6d.f9a5b4","type":"inject","z":"208548bd.e6d988","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 21 * * 3,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":2200,"wires":[["c77f25c8.1b0478"]]},{"id":"c77f25c8.1b0478","type":"function","z":"208548bd.e6d988","name":"","func":"var tutor = global.get(\"userTutor\");\nvar name = global.get(\"userName\");\n\nmsg.payload= {\n    content : \"Oii, \"+ tutor +\". Estou passando para lembrar de reabastecer a caixinha do(a)\" + name +\", se for preciso :)\",\n    type : \"message\",\n    chatId : 639281550\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":2200,"wires":[["b81d4a65.ba9208"]]},{"id":"b81d4a65.ba9208","type":"telegram sender","z":"208548bd.e6d988","name":"","bot":"a7c1e2c4.4b2bd","haserroroutput":false,"outputs":1,"x":570,"y":2200,"wires":[[]]},{"id":"4cf0e067.d86fd","type":"switch","z":"208548bd.e6d988","name":"","property":"payload.chatId","propertyType":"msg","rules":[{"t":"eq","v":"811666605","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":860,"wires":[["d98b564a.70bf48"]]},{"id":"ca68b27d.405b8","type":"telegram command","z":"208548bd.e6d988","name":"","command":"/start","bot":"a7c1e2c4.4b2bd","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":130,"y":1640,"wires":[["a4b8cc44.9d017","b9c38537.a21a68"],[]]},{"id":"a4b8cc44.9d017","type":"switch","z":"208548bd.e6d988","name":"","property":"payload.chatId","propertyType":"msg","rules":[{"t":"eq","v":"639281550","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1640,"wires":[["83b071db.3cc0d"]]},{"id":"83b071db.3cc0d","type":"function","z":"208548bd.e6d988","name":"","func":"var userName = global.get(\"userName\")\n\nvar message = \"Oi, tudo bem? eu sou o Meepi. Estarei te informando sobre os medicamentos de: \"+userName;\nmessage+= \"\\r\\n\"\nmessage+= \"\\r\\nLembrando que para cadastro dos medicamentos vá para aba <<Medicamentos>> do nosso site: meepi.mybluemix.net/ui/\"\nmessage+= \"\\r\\n\"\nmessage+= \"\\r\\nAlém disso, é possível visualizar todos os dados referentes aos medicamentos ingeridos por \" + userName + \" na aba <<Dashboard>>\"\nmessage+= \"\\r\\nApós o cadastro, instrua o usuário do Meepi a clicar no botão de sync da caixa :)\"\nmessage+= \"\\r\\n\"\nmessage+= \"\\r\\nPara começar é isso! em breve retornarei com informações sobre os medicamentos\"\n\nmsg.payload = {\n    type: \"message\",\n    content: message,\n    chatId: 639281550\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":1640,"wires":[["a1de0b0e.0b6c58"]]},{"id":"a1de0b0e.0b6c58","type":"telegram sender","z":"208548bd.e6d988","name":"","bot":"a7c1e2c4.4b2bd","haserroroutput":false,"outputs":1,"x":740,"y":1640,"wires":[[]]},{"id":"b9c38537.a21a68","type":"debug","z":"208548bd.e6d988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":1580,"wires":[]},{"id":"ead57fe5.a7267","type":"debug","z":"208548bd.e6d988","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":800,"wires":[]},{"id":"fe4cb75a.b67bb8","type":"inject","z":"208548bd.e6d988","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":150,"y":1780,"wires":[["6ecc7ef5.3cabf"]]},{"id":"3819ab51.fa3b94","type":"function","z":"208548bd.e6d988","name":"MED1","func":"timenow = msg.payload;\nvar timesplit1 = timenow.split(\"T\")\nvar timesplit2 = timesplit1[1].split(\":\")\ntimesplit2.splice(2) \n\nfor (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n}\n\nvar datesplit1 = timenow.split(\"T\")\nvar datesplit2 = datesplit1[0].split(\"-\")\nfor (var j=0; j<3; j++){\n    datesplit2[j] = parseInt(datesplit2[j], 10)\n}\n\n//fulltime [ano mes dia hora minuto]\nfulltime = datesplit2.concat(timesplit2)\n\nvar medtime = global.get(\"medTime1\")\nvar meddate = global.get(\"medDate1\")\n\nvar medname = global.get(\"medName1\")\nvar meddos = global.get(\"dosMed1\")\nvar medplace = global.get(\"medPlace1\")\nvar username = global.get(\"userName\")\nvar tutor = global.get(\"tutorName\")\n\nvar nova_string = \"\"\n\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\n\nif(meddate[2]==fulltime[2] && meddate[1]==fulltime[1]){\n    if(fulltime[3]==medtime[0] && fulltime[4]==medtime[1]){\n        var message = \"Olá, \" + tutor +\",\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nChegou a hora do(a) \" +username+ \" tomar seu medicamento chamado: \"+medname\n        message+= \"\\r\\nLembrando que a quantidade ingerida será de : \"+meddos\n        message+= \"\\r\\nPara verificar os status dos medicamentos do(a) \"+username+\", cadastrar ou recadastrar, acesse: meepi.mybluemix.net/ui/\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nNão deixei de checar nosso site e nos falamos de novo logo mais :D\"\n        \n        msg.payload = {\n            chatId : 639281550,\n            type : \"message\",\n            content : message\n        };\n        \n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1781,"wires":[["e1632d6f.8c442"]]},{"id":"e1632d6f.8c442","type":"telegram sender","z":"208548bd.e6d988","name":"","bot":"a7c1e2c4.4b2bd","haserroroutput":false,"outputs":1,"x":830,"y":1780,"wires":[[]]},{"id":"d998505e.428ec","type":"function","z":"208548bd.e6d988","name":"MED2","func":"timenow = msg.payload;\nvar timesplit1 = timenow.split(\"T\")\nvar timesplit2 = timesplit1[1].split(\":\")\ntimesplit2.splice(2) \n\nfor (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n}\n\nvar datesplit1 = timenow.split(\"T\")\nvar datesplit2 = datesplit1[0].split(\"-\")\nfor (var j=0; j<3; j++){\n    datesplit2[j] = parseInt(datesplit2[j], 10)\n}\n\n//fulltime [ano mes dia hora minuto]\nfulltime = datesplit2.concat(timesplit2)\n\nvar medtime = global.get(\"medTime2\")\nvar meddate = global.get(\"medDate2\")\n\nvar medname = global.get(\"medName2\")\nvar meddos = global.get(\"dosMed2\")\nvar medplace = global.get(\"medPlace2\")\nvar username = global.get(\"userName\")\nvar tutor = global.get(\"tutorName\")\n\nvar nova_string = \"\"\n\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\n\nif(meddate[2]==fulltime[2] && meddate[1]==fulltime[1]){\n    if(fulltime[3]==medtime[0] && fulltime[4]==medtime[1]){\n        var message = \"Olá, \" + tutor +\",\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nChegou a hora do(a) \" +username+ \" tomar seu medicamento chamado: \"+medname\n        message+= \"\\r\\nLembrando que a quantidade ingerida será de : \"+meddos\n        message+= \"\\r\\nPara verificar os status dos medicamentos do(a) \"+username+\", cadastrar ou recadastrar, acesse: meepi.mybluemix.net/ui/\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nNão deixei de checar nosso site e nos falamos de novo logo mais :D\"\n        \n        msg.payload = {\n            chatId : 639281550,\n            type : \"message\",\n            content : message\n        };\n        \n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1820,"wires":[["e1632d6f.8c442"]]},{"id":"3a22592b.0ff476","type":"function","z":"208548bd.e6d988","name":"MED3","func":"timenow = msg.payload;\nvar timesplit1 = timenow.split(\"T\")\nvar timesplit2 = timesplit1[1].split(\":\")\ntimesplit2.splice(2) \n\nfor (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n}\n\nvar datesplit1 = timenow.split(\"T\")\nvar datesplit2 = datesplit1[0].split(\"-\")\nfor (var j=0; j<3; j++){\n    datesplit2[j] = parseInt(datesplit2[j], 10)\n}\n\n//fulltime [ano mes dia hora minuto]\nfulltime = datesplit2.concat(timesplit2)\n\nvar medtime = global.get(\"medTime3\")\nvar meddate = global.get(\"medDate3\")\n\nvar medname = global.get(\"medName3\")\nvar meddos = global.get(\"dosMed3\")\nvar medplace = global.get(\"medPlace3\")\nvar username = global.get(\"userName\")\nvar tutor = global.get(\"tutorName\")\n\nvar nova_string = \"\"\n\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\n\nif(meddate[2]==fulltime[2] && meddate[1]==fulltime[1]){\n    if(fulltime[3]==medtime[0] && fulltime[4]==medtime[1]){\n        var message = \"Olá, \" + tutor +\",\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nChegou a hora do(a) \" +username+ \" tomar seu medicamento chamado: \"+medname\n        message+= \"\\r\\nLembrando que a quantidade ingerida será de : \"+meddos\n        message+= \"\\r\\nPara verificar os status dos medicamentos do(a) \"+username+\", cadastrar ou recadastrar, acesse: meepi.mybluemix.net/ui/\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nNão deixei de checar nosso site e nos falamos de novo logo mais :D\"\n        \n        msg.payload = {\n            chatId : 639281550,\n            type : \"message\",\n            content : message\n        };\n        \n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1860,"wires":[["e1632d6f.8c442"]]},{"id":"ac18c29f.995bb","type":"function","z":"208548bd.e6d988","name":"MED4","func":"timenow = msg.payload;\nvar timesplit1 = timenow.split(\"T\")\nvar timesplit2 = timesplit1[1].split(\":\")\ntimesplit2.splice(2) \n\nfor (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n}\n\nvar datesplit1 = timenow.split(\"T\")\nvar datesplit2 = datesplit1[0].split(\"-\")\nfor (var j=0; j<3; j++){\n    datesplit2[j] = parseInt(datesplit2[j], 10)\n}\n\n//fulltime [ano mes dia hora minuto]\nfulltime = datesplit2.concat(timesplit2)\n\nvar medtime = global.get(\"medTime4\")\nvar meddate = global.get(\"medDate4\")\n\nvar medname = global.get(\"medName4\")\nvar meddos = global.get(\"dosMed4\")\nvar medplace = global.get(\"medPlace4\")\nvar username = global.get(\"userName\")\nvar tutor = global.get(\"tutorName\")\n\nvar nova_string = \"\"\n\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\n\nif(meddate[2]==fulltime[2] && meddate[1]==fulltime[1]){\n    if(fulltime[3]==medtime[0] && fulltime[4]==medtime[1]){\n        var message = \"Olá, \" + tutor +\",\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nChegou a hora do(a) \" +username+ \" tomar seu medicamento chamado: \"+medname\n        message+= \"\\r\\nLembrando que a quantidade ingerida será de : \"+meddos\n        message+= \"\\r\\nPara verificar os status dos medicamentos do(a) \"+username+\", cadastrar ou recadastrar, acesse: meepi.mybluemix.net/ui/\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nNão deixei de checar nosso site e nos falamos de novo logo mais :D\"\n        \n        msg.payload = {\n            chatId : 639281550,\n            type : \"message\",\n            content : message\n        };\n        \n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1900,"wires":[["e1632d6f.8c442"]]},{"id":"39c05960.bb5356","type":"function","z":"208548bd.e6d988","name":"MED5","func":"timenow = msg.payload;\nvar timesplit1 = timenow.split(\"T\")\nvar timesplit2 = timesplit1[1].split(\":\")\ntimesplit2.splice(2) \n\nfor (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n}\n\nvar datesplit1 = timenow.split(\"T\")\nvar datesplit2 = datesplit1[0].split(\"-\")\nfor (var j=0; j<3; j++){\n    datesplit2[j] = parseInt(datesplit2[j], 10)\n}\n\n//fulltime [ano mes dia hora minuto]\nfulltime = datesplit2.concat(timesplit2)\n\nvar medtime = global.get(\"medTime5\")\nvar meddate = global.get(\"medDate5\")\n\nvar medname = global.get(\"medName5\")\nvar meddos = global.get(\"dosMed5\")\nvar medplace = global.get(\"medPlace5\")\nvar username = global.get(\"userName\")\nvar tutor = global.get(\"tutorName\")\n\nvar nova_string = \"\"\n\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\n\nif(meddate[2]==fulltime[2] && meddate[1]==fulltime[1]){\n    if(fulltime[3]==medtime[0] && fulltime[4]==medtime[1]){\n        var message = \"Olá, \" + tutor +\",\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nChegou a hora do(a) \" +username+ \" tomar seu medicamento chamado: \"+medname\n        message+= \"\\r\\nLembrando que a quantidade ingerida será de : \"+meddos\n        message+= \"\\r\\nPara verificar os status dos medicamentos do(a) \"+username+\", cadastrar ou recadastrar, acesse: meepi.mybluemix.net/ui/\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nNão deixei de checar nosso site e nos falamos de novo logo mais :D\"\n        \n        msg.payload = {\n            chatId : 639281550,\n            type : \"message\",\n            content : message\n        };\n        \n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1940,"wires":[["e1632d6f.8c442"]]},{"id":"36762148.276a9e","type":"function","z":"208548bd.e6d988","name":"MED6","func":"timenow = msg.payload;\nvar timesplit1 = timenow.split(\"T\")\nvar timesplit2 = timesplit1[1].split(\":\")\ntimesplit2.splice(2) \n\nfor (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n}\n\nvar datesplit1 = timenow.split(\"T\")\nvar datesplit2 = datesplit1[0].split(\"-\")\nfor (var j=0; j<3; j++){\n    datesplit2[j] = parseInt(datesplit2[j], 10)\n}\n\n//fulltime [ano mes dia hora minuto]\nfulltime = datesplit2.concat(timesplit2)\n\nvar medtime = global.get(\"medTime6\")\nvar meddate = global.get(\"medDate6\")\n\nvar medname = global.get(\"medName6\")\nvar meddos = global.get(\"dosMed6\")\nvar medplace = global.get(\"medPlace6\")\nvar username = global.get(\"userName\")\nvar tutor = global.get(\"tutorName\")\n\nvar nova_string = \"\"\n\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\n\nif(meddate[2]==fulltime[2] && meddate[1]==fulltime[1]){\n    if(fulltime[3]==medtime[0] && fulltime[4]==medtime[1]){\n        var message = \"Olá, \" + tutor +\",\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nChegou a hora do(a) \" +username+ \" tomar seu medicamento chamado: \"+medname\n        message+= \"\\r\\nLembrando que a quantidade ingerida será de : \"+meddos\n        message+= \"\\r\\nPara verificar os status dos medicamentos do(a) \"+username+\", cadastrar ou recadastrar, acesse: meepi.mybluemix.net/ui/\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nNão deixei de checar nosso site e nos falamos de novo logo mais :D\"\n        \n        msg.payload = {\n            chatId : 639281550,\n            type : \"message\",\n            content : message\n        };\n        \n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1980,"wires":[["e1632d6f.8c442"]]},{"id":"e125f1dd.45f63","type":"function","z":"208548bd.e6d988","name":"MED7","func":"timenow = msg.payload;\nvar timesplit1 = timenow.split(\"T\")\nvar timesplit2 = timesplit1[1].split(\":\")\ntimesplit2.splice(2) \n\nfor (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n}\n\nvar datesplit1 = timenow.split(\"T\")\nvar datesplit2 = datesplit1[0].split(\"-\")\nfor (var j=0; j<3; j++){\n    datesplit2[j] = parseInt(datesplit2[j], 10)\n}\n\n//fulltime [ano mes dia hora minuto]\nfulltime = datesplit2.concat(timesplit2)\n\nvar medtime = global.get(\"medTime7\")\nvar meddate = global.get(\"medDate7\")\n\nvar medname = global.get(\"medName7\")\nvar meddos = global.get(\"dosMed7\")\nvar medplace = global.get(\"medPlace7\")\nvar username = global.get(\"userName\")\nvar tutor = global.get(\"tutorName\")\n\nvar nova_string = \"\"\n\nfor(var i = 0; i<7; i++){\n    if(medplace[i]==1){\n        nova_string = (i+1).toString() + \" \" + nova_string;\n    }\n}\n\nif(meddate[2]==fulltime[2] && meddate[1]==fulltime[1]){\n    if(fulltime[3]==medtime[0] && fulltime[4]==medtime[1]){\n        var message = \"Olá, \" + tutor +\",\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nChegou a hora do(a) \" +username+ \" tomar seu medicamento chamado: \"+medname\n        message+= \"\\r\\nLembrando que a quantidade ingerida será de : \"+meddos\n        message+= \"\\r\\nPara verificar os status dos medicamentos do(a) \"+username+\", cadastrar ou recadastrar, acesse: meepi.mybluemix.net/ui/\"\n        message+= \"\\r\\n\"\n        message+= \"\\r\\nNão deixei de checar nosso site e nos falamos de novo logo mais :D\"\n        \n        msg.payload = {\n            chatId : 639281550,\n            type : \"message\",\n            content : message\n        };\n        \n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":2020,"wires":[["e1632d6f.8c442"]]},{"id":"9c9bb0e9.2b7e3","type":"debug","z":"1b1ce8e2.cd3017","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":100,"wires":[]},{"id":"c13e589d.86bba8","type":"moment","z":"208548bd.e6d988","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":"3","adjType":"hours","adjDir":"subtract","format":"","locale":"pt_BR","output":"payload","outputType":"msg","outTz":"America/Sao_Paulo","x":360,"y":1260,"wires":[["590eabad.514334","39f211b8.a184de","12e93521.01421b","42febed4.8820d","6efd147e.66720c","922dcb7c.cac1c8","69550b2b.a1ffb4"]]},{"id":"6ecc7ef5.3cabf","type":"moment","z":"208548bd.e6d988","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":"3","adjType":"hours","adjDir":"subtract","format":"","locale":"pt_BR","output":"payload","outputType":"msg","outTz":"America/Sao_Paulo","x":360,"y":1780,"wires":[["3819ab51.fa3b94","d998505e.428ec","3a22592b.0ff476","ac18c29f.995bb","39c05960.bb5356","36762148.276a9e","e125f1dd.45f63"]]},{"id":"9da39be.092b268","type":"moment","z":"1b1ce8e2.cd3017","name":"","topic":"","input":"payload.medStartTime1","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":"3","adjType":"hours","adjDir":"subtract","format":"","locale":"pt-BR","output":"payload","outputType":"msg","outTz":"America/Sao_Paulo","x":840,"y":100,"wires":[["3d16ab6a.668fb4","9c9bb0e9.2b7e3"]]},{"id":"10948f0c.9a0521","type":"moment","z":"1b1ce8e2.cd3017","name":"","topic":"","input":"payload.medStartTime2","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":"3","adjType":"hours","adjDir":"subtract","format":"","locale":"pt-BR","output":"payload","outputType":"msg","outTz":"America/Sao_Paulo","x":840,"y":240,"wires":[["ef57cb28.41b6f8"]]},{"id":"85d31014.3300d","type":"moment","z":"1b1ce8e2.cd3017","name":"","topic":"","input":"payload.medStartTime3","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":"3","adjType":"hours","adjDir":"subtract","format":"","locale":"pt-BR","output":"payload","outputType":"msg","outTz":"America/Sao_Paulo","x":840,"y":400,"wires":[["288b52da.13b31e"]]},{"id":"9dc8b411.80fa58","type":"moment","z":"1b1ce8e2.cd3017","name":"","topic":"","input":"payload.medStartTime4","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":"3","adjType":"hours","adjDir":"subtract","format":"","locale":"pt-BR","output":"payload","outputType":"msg","outTz":"America/Sao_Paulo","x":840,"y":540,"wires":[["558c7c65.b8ace4"]]},{"id":"7167fcd3.8741f4","type":"moment","z":"1b1ce8e2.cd3017","name":"","topic":"","input":"payload.medStartTime5","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":"3","adjType":"hours","adjDir":"subtract","format":"","locale":"en-US","output":"payload","outputType":"msg","outTz":"America/Sao_Paulo","x":840,"y":680,"wires":[["a83d43eb.d3c19"]]},{"id":"d93fd66b.4891e8","type":"moment","z":"1b1ce8e2.cd3017","name":"","topic":"","input":"payload.medStartTime6","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":"3","adjType":"hours","adjDir":"subtract","format":"","locale":"en-US","output":"payload","outputType":"msg","outTz":"America/Sao_Paulo","x":840,"y":820,"wires":[["c3050a49.0806d8"]]},{"id":"e6f9d09d.5c62a","type":"moment","z":"1b1ce8e2.cd3017","name":"","topic":"","input":"payload.medStartTime7","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":"3","adjType":"hours","adjDir":"subtract","format":"","locale":"en-US","output":"payload","outputType":"msg","outTz":"America/Sao_Paulo","x":840,"y":960,"wires":[["cdd43411.f83a18"]]}]